.currentGroupWrap {
    width: 80%;
    max-width: 1026px;
    :global(.ant-popover-arrow) {
        &:before {
            display: none;
        }
    }
    :global(.ant-popover-inner) {
        padding: 0;
        box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05) !important;
        border-radius: 6px !important;
        border: var(--docuo-popup-border);
        background: var(--docuo-popup-bg) !important;
    }
    :global(.ant-tabs-nav) {
        min-width: 154px;
    }
    :global(.category-tabs) {
        min-height: 220px;
        max-height: 500px;
    }
    :global(.ant-tabs-content-holder) {
        padding-bottom: 24px;
        border-left: var(--docuo-popup-border);
    }
    :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab) {
        height: 48px;
    }
    :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab) {
        margin-top: 8px;
    }
    :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active) {
        background: var(--docuo-popup-bg-active);
    }
    :global(.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar) {
        width: 3px;
        border-radius: 0 3px 3px 0;
        background: #0055ff;
        left: 0;
        transition: none;
    }
    :global(.ant-tabs > .ant-tabs-nav .ant-tabs-nav-list) {
        margin-top: 18px;
    }
}
.currentGroup {
    border: var(--docsearch-searchbox-border);
    background-color: var(--docsearch-searchbox-background);
    border-radius: 6px;
    outline: none;
    height: 36px;
    padding: 6px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-inline-end: 8px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background: var(--docuo-dropdown-label-bg-hover);
        transition: all 0.3s;
    }
    .label {
        font-size: 14px;
        font-family: Inter-Medium;
        font-weight: 500;
        color: var(--docuo-color-primary);
        line-height: 24px;
        white-space: nowrap;

        & + .icon {
            font-size: 12px;
            margin-left: 6px;
            color: var(--docuo-dropdown-icon-color);
            transition: transform 0.3s;
            flex-shrink: 0;
        }
    }
}

.tabItem {
    color: var(--docuo-color-primary);
    &.activeTab {
        color: var(--docuo-color-primary-active);
    }
}

.categoryContentWrap {
}
.productWrap {
    padding: 24px 32px 0px 8px;
}
.productTitle {
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--docuo-sidebar-color);
}
.productContent {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}
.groupContent {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}
.groupName {
    color: var(--docuo-color-primary);
    &.activeGroup {
        color: var(--docuo-color-primary-active);
    }
}
.groupTag {
    border-radius: 4px;

    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    padding: 0 6px;
    font-size: 12px;
    &.newTag {
        color: #f84d4d;
        background-color: #fff1f0;
    }
    &.hotTag {
        color: #fea533;
        background-color: #fef6ec;
    }
}
