.mobile-container {
  .mobile-mask,
  .mobile-menus {
    margin-top: 54px; // TODO: header height
    position: fixed;
    z-index: 100;
  }

  .line {
    width: 100%;
    height: 1px;
    background: var(--docuo-m-dropdown-divider-color);
  }
  .mobile-mask {
    width: 100vw;
    height: calc(100vh - 50px);
    inset: 0;
    background-color: transparent;
    overflow: hidden;
  }
  .mobile-menus {
    top: 0;
    right: auto;
    left: 15px;
    width: calc(100% - 35px);
    background: var(--docuo-popup-bg);
    padding: 20px;
    padding-top: 18px;
    gap: 6px 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow: auto;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: var(--docuo-popup-border);
    .dropdown-icon {
      color: var(--docuo-dropdown-icon-color) !important;
    }
    .mobile-item,
    .mobile-items {
      font-size: 16px;
      font-weight: 500;
      color: var(--docuo-popup-color);
      line-height: 23px;
      display: flex;
      font-family: Inter-SemiBold;
      align-items: center;
      justify-content: space-between;
      height: 44px;

      .mobile-item {
        color: var(--docuo-popup-color);
        line-height: 28px;
      }
    }
    .mobile-items {
      font-size: 14px;
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: var(--docuo-m-dropdown-sub-color);
      line-height: 28px;
    }
    .mobile-down-items {
      max-height: 280px;
      overflow: auto;
      .mobile-down-item {
        height: 44px;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: Inter-Regular, Inter;
        font-weight: 500;
        color: var(--docuo-m-dropdown-sub-color);
        line-height: 23px;
      }
    }
  }
  .mobile-btn-list {
    display: flex;
    gap: 22px;
    div:first-child {
      margin-top: 16px;
    }
  }
}
