.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  max-width: 100%;
  width: 100%;
  height: var(--preview-header-height);
  background: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid rgba($color: #e5e7eb, $alpha: 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 1440px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
  }
  .logo-container {
    display: flex;
    align-items: center;
    height: 100%;
    .logo {
      width: 25px;
      height: auto;
      object-fit: contain;
    }
    .logo-title {
      color: #fff;
      font-size: 20px;
      font-family: Inter-SemiBold;
      font-weight: bolder;
      color: #171717;
      margin-left: 8px;
    }
    // .title{}
  }
  .menus {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0px 32px;
    .item {
      font-size: 14px;
      font-family: Inter-Medium, Inter;
      font-weight: 500;
      color: #171717;
      line-height: 24px;
      &:hover {
        color: #1abd00;
      }
    }
    .items-container {
      display: flex;
      align-items: center;
      padding: 10px 8px 10px 16px;
      &:hover .items {
        color: #1abd00;
        & + .icon {
          color: #1abd00;
        }
      }
    }
    .items {
      font-size: 14px;
      font-family: Inter-Medium;
      font-weight: 500;
      color: #171717;
      line-height: 24px;
      cursor: pointer;

      & + .icon {
        font-size: 12px;
        margin-left: 6px;
        color: #666666;
        transition: transform 0.3s;
      }
    }
  }
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 280px;
  overflow: auto;
  padding: 10px 10px 10px 8px !important;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  border: 1px solid rgba(229, 231, 235, 0.6);
}
.popup-list-items {
  padding: 6px 8px !important;
  font-size: 14px;
  font-family: Inter-Medium;
  font-weight: 500;
  color: #171717;
  line-height: 28px;
  border-radius: 4px;
  transition: unset !important;

  &:hover {
    background: rgba(229, 231, 235, 0.25);
    color: #1abd00 !important;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    padding: 16px 0 26px 0;

    .container {
      padding: 0 1.25rem 0 1.5rem;
      width: 100%;
      margin-bottom: 20px;
    }
    .toc-font {
      font-size: 14px;
      font-family: Inter-SemiBold, Inter;
      font-weight: normal;
      color: #171717;
      line-height: 24px;
    }
  }

  .mobile-toc-container {
    margin-top: 114px;
    position: fixed;
    z-index: 101;
    top: 0;
    right: auto;
    left: 15px;
    width: calc(100% - 35px);
    background: #ffffff;
    padding: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 202px);
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(229, 231, 235, 0.6);
  }
  .mobile-toc-mask {
    margin-top: 54px; // TODO: header height
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 50px);
    inset: 0;
    background-color: transparent;
    overflow: hidden;
  }
}
