.colorModeToggle,
.languageToggle {
  position: relative;

  .toggleButton {
    color: var(--docuo-theme-btn-color);
    width: 30px;
    height: 30px;
    box-shadow: var(--docuo-theme-btn-shadow);
    border-radius: 8px;
    border: var(--docuo-theme-btn-border);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      color: var(--docuo-theme-btn-color-hover);
    }
  }
  &:global(.mobile) {
    .toggleButton {
      width: 40px;
      height: 40px;
      border-radius: 10px;
      box-shadow: none;
    }
  }
  & + .colorModeToggle,
  & + .languageToggle {
    margin-left: 18px;
  }
}
.modesWrapper,
.languageWrapper {
  width: 140px;
  background: var(--docuo-theme-popover-bg) !important;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px !important;
  border: var(--docuo-theme-btn-border) !important;
  padding: 10px !important;
  .modeItem {
    height: 40px;
    border-radius: 4px !important;
    padding: 0 10px !important;
    font-size: 14px !important;
    color: var(--docuo-theme-popover-color) !important;
    cursor: pointer;
    svg {
      margin-right: 10px;
    }
    &:hover {
      background: var(--docuo-popup-bg-hover) !important;
    }
    &.active {
      color: var(--docuo-color-primary-active) !important;
    }
  }
}
.modesWrapper {
  height: 140px;
}
[data-theme="light"] .darkToggleIcon {
  display: none;
}

[data-theme="dark"] .lightToggleIcon {
  display: none;
}
