.ai-btn {
    margin-left: 10px;
    cursor: pointer;
    img {
        height: 42px;
        width: auto;
    }
}
@media screen and (max-width: 750px) {
    .ai-search-wrap {
        display: none;
    }
}
