.ai-search-page {
    :global(.ant-modal-mask) {
        display: none;
    }
    .ai-search-dialog {
        width: 100% !important;
        height: 100% !important;
        max-width: unset;
        top: 0;
        padding-bottom: 0;
    }
}

.ai-search-dialog {
    width: 80% !important;
    height: 80% !important;
    min-height: 580px !important;
    max-width: 1000px;
    & > div {
        height: 100%;
    }
    :global(.ant-modal-content) {
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: var(--docuo-color-primary);
        background: var(--docuo-background-primary);
        border: var(--docsearch-searchbox-border);
    }
    :global(.ant-modal-close) {
        color: var(--docuo-color-primary);
        transition: all 0.3s;
        &:hover {
            color: var(--docuo-color-primary);
            background: var(--docsearch-searchbox-background-hover);
        }
    }
    :global(.ant-modal-header) {
        color: var(--docuo-color-primary);
        background: var(--docuo-background-primary);
    }
    :global(.ant-modal-title) {
        color: var(--docuo-color-primary);
    }
    :global(.ant-modal-body) {
        flex: 1;
        overflow: hidden;
    }
    :global(.ant-input-outlined) {
        background: unset;
        border: var(--docsearch-searchbox-border);
        color: var(--docuo-color-primary);
        outline: unset;
        box-shadow: unset;
        &:hover {
            background: unset;
            border: var(--docsearch-searchbox-border-hover);
        }
    }
    :global(.ant-input-group-wrapper-outlined .ant-input-group-addon) {
        background: unset;
        border: var(--docsearch-searchbox-border);
        border-left: unset;
        color: var(--docuo-color-primary);
        cursor: pointer;
        &:hover {
            background: var(--docsearch-searchbox-background-hover);
            border: var(--docsearch-searchbox-border-hover);
            border-left: unset;
        }
    }
    :global(.ant-pro-chat-chat-list-container) {
    }
    .converse-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .init-content,
    .converse-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        overflow: hidden;
    }
    .init-content {
        position: absolute;
        width: 100%;
        display: flex;
        background: var(--docuo-background-primary);
        bottom: 100px;
        top: 0;
        &.show {
            opacity: 1;
            z-index: 1;
        }
        &.hidden {
            opacity: 0;
            z-index: 0;
        }
    }
    :global(.ant-pro-chat-input-area) {
        background: unset;
        flex: 1;
    }
    :global(.ant-pro-chat-input-area-action-bar) {
        display: none;
    }
    :global(.ant-pro-chat-list-item-message-content) {
        background-color: transparent;
    }
    :global(.ant-editor-icon) {
        svg {
            stroke-width: 2px;
        }
    }
    .custom-converse-reset {
        cursor: pointer;
        font-size: 16px;
        color: var(--docuo-text-color);
        transition: all 0.3s;
        height: 42px;
        width: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        opacity: 0.6;
        &:hover {
            opacity: 1 !important;
            background: var(--docuo-ai-search-operate-btn-bg-hover);
        }
    }
    .custom-chat-item-content-wrap {
        color: var(--docuo-color-primary);
        background: var(--docuo-m-drawer-btn-bg);
        border: var(--docuo-m-drawer-btn-border);
        border-radius: 8px;
        & + .custom-chat-item-operation-wrap {
            display: none;
        }
        &.assistant {
            margin-inline-end: 100px;
            padding-bottom: 40px;
            min-width: 122px;
            & + .custom-chat-item-operation-wrap {
                display: flex;
                position: absolute;
                left: 12px;
                bottom: 10px;
                display: flex;
                align-items: center;
                :global(.ant-pro-chat-list-item-actions) {
                    opacity: 1;
                    :global(.ant-editor-action-group-content) {
                        border: unset;
                        background: unset;
                        button {
                            color: var(--docuo-text-color);
                            opacity: 0.6;
                            &:first-of-type {
                                display: none;
                            }
                            &:last-of-type {
                                display: none;
                            }
                            &:hover {
                                opacity: 1 !important;
                            }
                        }
                    }
                }
                &.sending {
                    :global(.ant-pro-chat-list-item-actions) {
                        :global(.ant-editor-action-group-content) {
                            button {
                                &:first-of-type {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.user {
            & + .custom-chat-item-operation-wrap {
                display: none;
                // :global(.ant-pro-chat-list-item-actions) {
                //     display: none;
                // }
                // .custom-chat-item-operation {
                //     display: none;
                // }
            }
        }
    }
    .custom-chat-item-doc-agg {
        display: none;
        color: var(--docuo-color-primary);
        background: var(--docsearch-searchbox-background);
        border-radius: 8px;
        padding: 12px;
        margin-inline-start: 12px;
        margin-inline-end: 12px;
        a {
            color: var(--docuo-color-primary-active);
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .custom-chat-item-operation {
        display: none;
        align-items: center;
        margin-inline-start: 12px;
        margin-inline-end: 12px;
        margin-top: 12px;
        margin-bottom: 12px;
        .custom-chat-item-operation-btn {
            opacity: 0.6;
            cursor: pointer;
            color: var(--docuo-text-color);
            transition: all 0.3s;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                opacity: 1 !important;
                background: var(--docuo-ai-search-operate-btn-bg-hover);
                border-radius: 6px;
            }
            &:active {
                opacity: 1 !important;
                color: var(--docuo-color-primary-active);
            }
        }
    }
    .custom-chat-item-doc-agg-title {
        font-size: 11px;
        color: var(--docsearch-searchbox-color);
        margin-bottom: 10px;
    }
    .custom-chat-item-doc-agg-item {
        line-height: 20px;
        & + .custom-chat-item-doc-agg-item {
            margin-top: 10px;
        }
    }
    .custom-input-area {
        margin-top: 20px;
        gap: 10px;
        width: 100%;
        display: flex;
        align-items: flex-end;
    }
    .opening-remarks-wrap {
        margin-bottom: 4%;
        margin-top: 10%;
        width: 60%;
        .remark {
            font-size: 28px;
        }
    }
    .default-question-wrap {
        width: 60%;
    }
    .question-tips {
        font-size: 12px;
        color: var(--docsearch-searchbox-color);
        margin-bottom: 5%;
    }
    .input-wrap {
        padding-top: 3%;
    }
    .default-question {
        background: unset;
        border: var(--docsearch-searchbox-border);
        border-radius: 6px;
        font-size: 16px;
        padding: 4px 12px;
        cursor: pointer;
        margin-bottom: 1.5%;
        transition: all 0.3s;
        &:hover {
            background: var(--docsearch-searchbox-background-hover);
            border: var(--docsearch-searchbox-border-hover);
        }
    }
    .custom-back-to-bottom-wrap {
        :global(.ant-btn-default:not(:disabled):not(.ant-btn-disabled)) {
            &:hover {
                color: var(--docuo-color-primary-active);
            }
        }
    }
    .user-avatar-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        color: var(--docuo-text-color);
        width: 40px;
        height: 40px;
    }
    :global(.ant-pro-chat-list-item-left) {
        &:last-of-type {
            .custom-chat-item-content-wrap {
                &.assistant {
                    & + .custom-chat-item-operation-wrap {
                        :global(.ant-pro-chat-list-item-actions) {
                            :global(.ant-editor-action-group-content) {
                                button {
                                    &:first-of-type {
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // modal new
    :global(.acss-bohbbh) {
        height: 100%;
        max-width: unset;
        min-width: unset;
    }
    :global(.ant-bubble-list) {
        width: 100%;
        flex: 1;
        padding: 0 20px;
    }
    :global(.ant-bubble-start) {
        &:not(:has(.placeholderContent)) {
            padding-right: 52px;
        }
    }
    :global(.ant-bubble-end) {
        &:not(:has(.placeholderContent)) {
            padding-left: 52px;
        }
    }
    :global(.ant-bubble-content-wrapper) {
        color: var(--docuo-color-primary);
        background: var(--docuo-m-drawer-btn-bg);
        border: var(--docuo-m-drawer-btn-border);
        border-radius: 8px;
    }
    :global(.ant-bubble-avatar + .ant-bubble-content) {
        color: var(--docuo-color-primary);
        background: var(--docuo-m-drawer-btn-bg);
        border: var(--docuo-m-drawer-btn-border);
        border-radius: 8px;
    }
    .customBubbleContent {
        background: unset;
    }
    .customBubbleFooter {
        width: 100%;
    }
    :global(.ant-sender-content) {
        padding-block: 8px;
    }
    .placeholderContent {
        margin: 10% auto 0;
    }
    .placeholderNode {
    }
    .welcomeWrap {
        margin-bottom: 30px;
    }
    .welcomeIcon {
    }
    :global(.ant-welcome-icon) {
    }
    .welcomeTitle {
        font-weight: normal;
        font-size: 28px;
        color: var(--docuo-color-primary);
    }
    :global(.ant-welcome-title) {
        font-weight: normal;
        font-size: 28px;
        color: var(--docuo-color-primary);
    }
    .welcomeDescription {
        font-size: 28px;
        color: var(--docuo-color-primary);
    }
    .questionList {
    }
    .questionItem {
        background: var(--docuo-background-primary);
        border: var(--docsearch-searchbox-border);
    }
    .questionSubItem {
        color: var(--docuo-color-primary);
        background: var(--docsearch-searchbox-background) !important;
        padding-block: 8px;
        &:hover {
            background: var(--docsearch-searchbox-background-hover) !important;
        }
    }
    .sender {
        box-shadow: unset !important;
        border: var(--docsearch-searchbox-border);
        border-width: 0;
        &:focus-within {
            border-color: var(--docuo-color-primary-active);
        }
        :global(.ant-input) {
            color: var(--docuo-color-primary);
            &::placeholder {
                color: var(--docuo-text-color);
                opacity: 0.3;
            }
        }
    }
    .senderActions {
        :global(.ant-btn) {
            height: 28px;
        }
        :global(.ant-btn.ant-btn-circle) {
            width: 28px;
        }
        :global(.ant-btn.ant-btn-icon-only) {
            min-width: 28px;
        }
        :global(.ant-btn-variant-solid) {
            background: unset;
            color: var(--docuo-text-color);
            box-shadow: unset;
            opacity: 0.6;
            padding-left: 2px;
            &:hover {
                background: var(--docuo-ai-search-operate-btn-bg-hover);
                opacity: 1;
                color: var(--docuo-text-color);
                border-radius: 4px;
            }
        }
        :global(.ant-btn-variant-solid.ant-sender-actions-btn-disabled) {
            &:hover {
                opacity: 0.6;
                background: unset;
                color: var(--docuo-text-color);
                box-shadow: unset;
                cursor: not-allowed;
            }
        }
        :global(.ant-btn-color-primary.ant-btn-variant-text) {
            color: var(--docuo-color-primary-active);
        }
        :global(.ant-btn-color-primary.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover) {
            color: var(--docuo-color-primary-active);
            background: unset;
            opacity: 0.8;
        }
    }
    .queryLoading {
        color: var(--docuo-color-primary-active);
    }
    .queryTips {
        color: var(--docuo-color-primary);
    }
    .articleWrap {
        p {
            line-height: 1.8;
        }
        pre {
            max-height: 400px;
            overflow-y: auto;
            font-size: 12px;
            padding: 16px 24px;
            border: none;
            line-height: 1.8;
            border-radius: 6px;
        }
        & > *:last-child {
            margin-bottom: 0 !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    .ai-search-dialog {
        .custom-chat-item-content-wrap {
            &.assistant {
                margin-inline-end: 120px;
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .ai-search-dialog {
        min-height: 480px !important;
        :global(.ant-modal-content) {
            padding: 20px 16px;
        }
        :global(.ant-pro-chat-list-item) {
            padding-left: 0px;
            padding-right: 0px;
        }
        :global(.ant-select-single.ant-pro-chat-input-area-component textarea) {
            padding-right: 40px;
            max-height: 68px !important;
            overflow-y: auto;
        }
        .custom-chat-item-content-wrap {
            &.assistant {
                margin-inline-end: 80px;
            }
        }
        .opening-remarks-wrap {
            width: 75%;
            margin-top: 12%;
            .remark {
                font-size: 22px;
            }
        }
        .default-question-wrap {
            width: 75%;
        }

        // new modal
        .welcomeTitle {
            font-size: 22px;
        }
        :global(.ant-welcome-title) {
            font-size: 22px;
        }
        .welcomeDescription {
            font-size: 22px;
        }
        .welcomeWrap {
            margin-bottom: 25px;
        }
    }
}
@media screen and (max-width: 576px) {
    .ai-search-dialog {
        :global(.ant-modal-content) {
            padding: 20px 16px;
        }
        .custom-chat-item-content-wrap {
            &.assistant {
                margin-inline-end: 20px;
            }
        }
        .opening-remarks-wrap {
            width: 85%;
            .remark {
                font-size: 20px;
            }
        }
        .default-question-wrap {
            width: 85%;
        }
        .question-tips {
            font-size: 10px;
        }
        .default-question {
            font-size: 15px;
        }

        // new modal
        .welcomeTitle {
            font-size: 20px;
        }
        :global(.ant-welcome-title) {
            font-size: 20px;
        }
        .welcomeDescription {
            font-size: 20px;
        }
        :global(.ant-bubble-list) {
            padding: 0 5px;
        }
        .user-avatar-wrap {
            width: 36px;
            height: 36px;
        }
        :global(.ant-bubble-start) {
            &:not(:has(.placeholderContent)) {
                padding-right: 48px;
            }
        }
        :global(.ant-bubble-end) {
            &:not(:has(.placeholderContent)) {
                padding-left: 48px;
            }
        }
        .welcomeWrap {
            margin-bottom: 20px;
        }
    }
}
@media screen and (max-width: 500px) {
    .ai-search-dialog {
        .welcomeIcon {
            display: none;
        }
        :global(.ant-welcome-icon) {
            display: none;
        }
        :global(.ant-bubble-list) {
            padding: 0;
        }
        .user-avatar-wrap {
            width: 30px;
            height: 30px;
        }
        :global(.ant-bubble-start) {
            &:not(:has(.placeholderContent)) {
                padding-right: 42px;
            }
        }
        :global(.ant-bubble-end) {
            &:not(:has(.placeholderContent)) {
                padding-left: 42px;
            }
        }
    }
}
@media screen and (max-width: 375px) {
    .ai-search-dialog {
        .opening-remarks-wrap {
            width: 90%;
            .remark {
                font-size: 17px;
            }
            margin-top: 15%;
        }
        .default-question-wrap {
            width: 90%;
        }
        .default-question {
            font-size: 14px;
        }

        // new modal
        .welcomeTitle {
            font-size: 17px;
        }
        :global(.ant-welcome-title) {
            font-size: 17px;
        }
        .welcomeDescription {
            font-size: 17px;
        }
    }
}
