:root {
  --bash-background-color: transparent;
  --bash-border-radius: none;
  --code-tab-logo-width: 24px;
  --code-tab-logo-height: 24px;
}

[data-theme="dark"] {
  --bash-background-color: lightgrey;
  --bash-border-radius: 20px;
}

.openapi-tabs__code-container {
  background: #282828;
  box-shadow: none;
  border-radius: 6px;
  border: none;
  padding: 0;
  overflow: hidden;
  margin-bottom: 12px;
  .openapi-tabs__code-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0 !important;
    transition: 300ms;
    cursor: pointer;

    &:not(.active):hover {
      border: 1px solid var(--openapi-code-tab-border-color);
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.openapi-tabs__code-list-container {
  padding: 14px 14px 20px 14px !important;
  background-color: #282828;
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem;
  padding-bottom: 0.6rem;
}

.openapi-tabs__code-content {
  margin-top: unset !important;
}

.openapi-explorer__code-block code {
  max-height: 200px;
  font-size: var(--openapi-explorer-font-size-code);
  padding-top: var(--ifm-pre-padding);
}

body[class="ReactModal__Body--open"] {
  .openapi-explorer__code-block code {
    max-height: 600px;
  }
}

.openapi-tabs__code-item--python {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg")
      no-repeat;
  }
}

.openapi-tabs__code-item--go {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/go/go-original-wordmark.svg")
      no-repeat;
  }
}

.openapi-tabs__code-item--javascript {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg")
      no-repeat;
  }
}

.openapi-tabs__code-item--bash {
  &::after {
    content: "";
    background: url("../../../../../assets/icons/openapi/curl.svg") no-repeat;
  }
}

.openapi-tabs__code-item--ruby {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-plain.svg") no-repeat;
  }
}

.openapi-tabs__code-item--csharp {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg")
      no-repeat;
  }
}

.openapi-tabs__code-item--nodejs {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original.svg")
      no-repeat;
  }
}

.openapi-tabs__code-item--php {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/php/php-original.svg") no-repeat;
  }
}

.openapi-tabs__code-item--java {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg") no-repeat;
  }
}

.openapi-tabs__code-item--powershell {
  &::after {
    content: "";
    background: url("https://raw.githubusercontent.com/devicons/devicon/master/icons/windows8/windows8-original.svg")
      no-repeat;
  }
}

@media only screen and (min-width: 768px) and (max-width: 996px) {
  .openapi-tabs__code-list {
    justify-content: space-around;
  }
}

.ReactModal__Body--open {
  overflow: hidden !important;
}

.openapi-modal--open {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.tabs-container.openapi-tabs__code-container {
  .openapi-tabs__code-item {
    height: 62px;
    flex: 0 0 68px;
    border-radius: 6px;
    border: 1px solid #4d4c4c;
    box-shadow: none;
    margin-right: 14px;
    padding: 8px 8px 0 !important;
    justify-content: space-between;
    margin-bottom: 0;
    cursor: pointer;
    & > span {
      font-family: var(--font-inter-medium);
      font-weight: 500;
      font-size: 11px;
      color: #f0f0f0;
      text-transform: uppercase;
      margin-top: 2px;
    }
    &:hover,
    &.active {
      box-shadow: none;
      border-color: #266eff;
    }
    &:last-of-type {
      margin-right: 0;
    }
    &::after {
      width: 26px;
      height: 26px;
      margin: 0;
    }
  }
  &.openapi-tabs__code-container-inner {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
  .openapi-tabs__code-list-container {
    &.openapi-tabs__code-container-inner {
      padding: 0 14px !important;
      margin-top: 2px;
      border-bottom: 1px solid #3d3d3d;
      & + div[role="tabpanel"] {
        background-color: #171717;
        overflow-y: hidden;
        .tabpanel-wrapper {
          margin-bottom: 10px;
          padding: 0px 0px 2px 0px;
          max-height: 300px;
          overflow-y: auto;
        }
      }
      .openapi-tabs__code-item {
        flex: initial;
        height: auto;
        padding: 0 0 12px 0 !important;
        margin-right: 28px;
        border: none;
        border-bottom-width: 2px !important;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        border-radius: 0;
        &:last-of-type {
          margin-right: 0px;
        }
        & > span {
          font-family: var(--font-inter-semibold);
          font-weight: 500;
          font-size: 13px;
          color: #909090;
          line-height: 24px;
          padding: 0 !important;
          transition: color 0.3s;
        }
        &:hover,
        &.active {
          border-bottom-color: #266eff;
          & > span {
            color: #266eff;
          }
        }
      }
    }
  }
}
