@font-face {
  font-family: "zgfont"; /* Project id 2202599 */
  src: url('iconfont.woff2?t=1707029591899') format('woff2'),
       url('iconfont.woff?t=1707029591899') format('woff'),
       url('iconfont.ttf?t=1707029591899') format('truetype');
}

.zgfont {
  font-family: "zgfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.doc-icon_language_linux:before {
  content: "\e8ca";
}

.doc-icon_language_macos:before {
  content: "\e8cb";
}

.doc-icon_language_cocoscreator:before {
  content: "\e8c9";
}

.doc-icon_language_web:before {
  content: "\e8d0";
}

.doc-icon_language_android:before {
  content: "\e8d1";
}

.doc-icon_language_harmonyos:before {
  content: "\e8d2";
}

.doc-icon_language_reactnative:before {
  content: "\e8d3";
}

.doc-icon_language_ios:before {
  content: "\e8d4";
}

.doc-icon_language_ue:before {
  content: "\e8d5";
}

.doc-icon_language_electron:before {
  content: "\e8d6";
}

.doc-icon_language_wxmini:before {
  content: "\e8d7";
}

.doc-icon_language_windows:before {
  content: "\e8d8";
}

.doc-icon_language_unity3d:before {
  content: "\e8d9";
}

.doc-icon_language_cocos2dx:before {
  content: "\e8da";
}

.doc-icon_language_uniapp:before {
  content: "\e8db";
}

.doc-icon_language_flutter:before {
  content: "\e8dc";
}

.doc-icon_good:before {
  content: "\e8cc";
}

.doc-icon_bad:before {
  content: "\e8cd";
}

.doc-icon_backtothetop:before {
  content: "\e8ce";
}

.doc-icon_nav_search:before {
  content: "\e8cf";
}

.doc-icon_into_normal:before {
  content: "\e882";
}

.doc-icon_language_normal:before {
  content: "\e880";
}

.doc-icon_into_unselected:before {
  content: "\e881";
}

.doc-icon_close:before {
  content: "\e86a";
}

.doc-icon_arrow_selbeifen:before {
  content: "\e867";
}

.doc-icon_star_sel:before {
  content: "\e868";
}

.doc-icon_arrow_black:before {
  content: "\e869";
}

.doc-icon_star_normal:before {
  content: "\e864";
}

.doc-a-icon_arrow_normalbeifen2:before {
  content: "\e865";
}

.doc-icon_arrow_orange:before {
  content: "\e866";
}

.doc-icon_unity3d:before {
  content: "\e862";
}

.doc-icon_cocoscreator:before {
  content: "\e850";
}

.doc-icon_electron:before {
  content: "\e85d";
}

.doc-icon_api:before {
  content: "\e85e";
}

.doc-icon_linux:before {
  content: "\e853";
}

.doc-icon_reactnative:before {
  content: "\e854";
}

.doc-icon_harmonyos:before {
  content: "\e855";
}

.doc-icon_web:before {
  content: "\e856";
}

.doc-icon_macos:before {
  content: "\e852";
}

.doc-icon_flutter:before {
  content: "\e857";
}

.doc-icon_apple:before {
  content: "\e858";
}

.doc-icon_uniapp:before {
  content: "\e851";
}

.doc-icon_xiaochengxu:before {
  content: "\e859";
}

.doc-icon_windows:before {
  content: "\e85a";
}

.doc-icon_unrealengine:before {
  content: "\e85b";
}

.doc-icon_android:before {
  content: "\e85c";
}

.doc-icon_arrow:before {
  content: "\e838";
}

.doc-icon_title:before {
  content: "\e839";
}

.doc-icon_like:before {
  content: "\e831";
}

.doc-icon_dislike:before {
  content: "\e837";
}

.doc-icon_gray_up1:before {
  content: "\e833";
}

.doc-icon_gray_down:before {
  content: "\e834";
}

.doc-icon_blue_down:before {
  content: "\e835";
}

.doc-icon_blue_up:before {
  content: "\e836";
}

.doc-icon_docclose_nor:before {
  content: "\e832";
}

.doc-icon_tips:before {
  content: "\e82a";
}

.doc-icon_up_top:before {
  content: "\e7dc";
}

.doc-_-s-icon_failed:before {
  content: "\e7a6";
}

.doc-_-s-icon_tishi:before {
  content: "\e7a5";
}

.doc-icon_arrow_left:before {
  content: "\e799";
}

.doc-search_icon:before {
  content: "\e798";
}

.doc-a-floatingwindow_free:before {
  content: "\e797";
}

.doc-a-floatingwindow_feedback:before {
  content: "\e796";
}

.doc-right_message_default1:before {
  content: "\e793";
}

.doc-arrow_selected_icon:before {
  content: "\e794";
}

.doc-icon_yuyan:before {
  content: "\e795";
}

.doc-m_nav_close_icon:before {
  content: "\e78f";
}

.doc-m_title_close_icon:before {
  content: "\e78c";
}

.doc-m_nav_menu_icon:before {
  content: "\e78d";
}

.doc-m_title_search_icon:before {
  content: "\e78e";
}

.doc-m_tick_icon:before {
  content: "\e790";
}

.doc-m_right_top_default:before {
  content: "\e791";
}

.doc-m_moon_default:before {
  content: "\e792";
}

.doc-m_icon_jiantou:before {
  content: "\e786";
}

.doc-m_icon_bofang:before {
  content: "\e787";
}

.doc-m_icon_arrow:before {
  content: "\e788";
}

.doc-m_icon_xiala:before {
  content: "\e789";
}

.doc-m_icon_zhankai:before {
  content: "\e78a";
}

.doc-m_icon_download:before {
  content: "\e78b";
}

.doc-m_contents_unfold_icon:before {
  content: "\e781";
}

.doc-m_contents_putaway_icon:before {
  content: "\e782";
}

.doc-m_copy_default:before {
  content: "\e783";
}

.doc-m_icno_xuanfu:before {
  content: "\e784";
}

.doc-contents_unfold_icon:before {
  content: "\e785";
}

.doc-top_erji_down_hover:before {
  content: "\e77e";
}

.doc-top_erji_down_default:before {
  content: "\e77c";
}

.doc-right_Workorder_hover:before {
  content: "\e77d";
}

.doc-top_yiji_down_default:before {
  content: "\e77f";
}

.doc-right_top_default:before {
  content: "\e780";
}

.doc-right_message_default:before {
  content: "\e77a";
}

.doc-right_qrcode_hover:before {
  content: "\e778";
}

.doc-right_talk_hover:before {
  content: "\e779";
}

.doc-right_call_hover:before {
  content: "\e77b";
}

.doc-next_default:before {
  content: "\e777";
}

.doc-left_down_select:before {
  content: "\e771";
}

.doc-last_default:before {
  content: "\e772";
}

.doc-left_down_default:before {
  content: "\e773";
}

.doc-left_open_default:before {
  content: "\e774";
}

.doc-left_quanjv_putaway_default:before {
  content: "\e775";
}

.doc-moon_default:before {
  content: "\e776";
}

.doc-download_default:before {
  content: "\e76c";
}

.doc-copy_default:before {
  content: "\e76d";
}

.doc-content_reduce_default:before {
  content: "\e76e";
}

.doc-fold_defult:before {
  content: "\e76f";
}

.doc-content_plus_default:before {
  content: "\e770";
}

.doc-up_1:before {
  content: "\e6a6";
}

.doc-arrows:before {
  content: "\e68b";
}

.doc-plus:before {
  content: "\e674";
}

.doc-subtract:before {
  content: "\e675";
}

.doc-show:before {
  content: "\e66d";
}

.doc-copy:before {
  content: "\e669";
}

.doc-moon:before {
  content: "\e66a";
}

.doc-sun:before {
  content: "\e66b";
}

.doc-attention:before {
  content: "\e66c";
}

