.openapi-params__list-item {
  position: relative;
  padding-left: 20px;
  &::before {
    content: "";
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
    height: 100%;
    display: flex;
    position: absolute;
    left: 6px;
  }
  .openapi-schema__container {
    display: flex;
  }
  & > .openapi-schema__container:not(:last-child) {
    margin-bottom: 8px;
  }
  & > div {
    margin-bottom: 8px;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: var(--docuo-openapi-params-list-item-color);
    & > div {
      & > p {
        margin: 0;
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        color: var(--docuo-openapi-params-list-item-color);
        strong {
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          margin-right: 8px;
        }
      }
    }
  }
  .openapi-params_example,
  .openapi-params_examples {
    & > div {
      & > strong {
        font-family: Inter-Semi Bold;
        font-size: 14px;
        color: var(--docuo-openapi-params-list-item-example-strong-color);
        margin-right: 8px;
      }
    }
  }
}

.opening-array-bracket_text,
.openapi-schema__type,
.openapi-schema__name,
.header-name-type,
.schema-name {
  border-radius: 4px;
  margin-right: 10px;
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 4px 0;
}
.openapi-schema__type {
  background-color: var(--docuo-openapi-type-bg-color);
  color: var(--docuo-openapi-type-color);
}
.openapi-schema__name {
  background-color: var(--docuo-openapi-name-bg-color);
  color: var(--docuo-openapi-name-color);
}

.openapi-schema__required {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  background-color: var(--docuo-openapi-schema-required-bg-color);
  height: 20px;
  border-radius: 4px;
  color: var(--docuo-openapi-schema-required-color);
  line-height: normal;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

.openapi-schema__divider {
  flex-grow: 1;
  border-bottom: thin solid var(--ifm-toc-border-color);
  margin: 10px;
}
