.openapi-explorer__floating-btn {
  position: relative;

  button {
    position: relative;
    background: #0055ff;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    padding: 6px 12px;
    // opacity: 0;
    // visibility: hidden;
    // transition:
    //   opacity 0.2s ease-in-out,
    //   visibility 0.2s ease-in-out,
    //   bottom 0.2s ease-in-out;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
  }
}
// .openapi-explorer__floating-btn:hover button,
// .openapi-explorer__floating-btn:focus-visible button,
// .openapi-explorer__floating-btn button:focus-visible {
//   visibility: visible;
//   opacity: 1;
// }
