.openapi-explorer__request-form {
  background-color: #171717;
  border-radius: 6px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #b6b6b6;
  margin-bottom: 12px;
  overflow: auto;
  transition: 300ms;

  /* hack for view calculation when monaco is hidden */
  position: relative;

  &:empty {
    display: none;
  }

  .required {
    font-size: var(--ifm-code-font-size);
    color: var(--openapi-required);

    &.request-body {
      padding-left: 0.25rem;
    }
  }
}

.openapi-explorer__request-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #282828;
  padding: 10px 12px 10px 16px;
  text-transform: uppercase;
  .openapi-explorer__request-title {
    font-size: 14px;
    font-family: Inter-Medium;
    font-weight: 500;
    color: #b6b6b6;
  }
  .right-btn {
    display: flex;
  }
}

.openapi-explorer__expand-details-btn {
  cursor: pointer;
  width: 125px;
  height: 31px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 10px;
  &:hover {
    opacity: 0.8;
  }
}

.openapi-explorer__details-outer-container {
  padding: 16px 12px;
}

.openapi-explorer__details-summary {
  font-family: Inter-Medium;
  font-weight: 500;
  position: relative;
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  list-style: none;
  color: inherit;
  line-height: 20px;

  &:hover {
    cursor: pointer;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    content: "";
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="white" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>')
      50% / 1.2rem 1.2rem;
    filter: var(--docuo-openapi-tabs-arrow-bg-icon-filter);
    height: 0.75rem;
    transform: translateY(-50%) rotate(90deg) !important;
    width: 0.75rem;
    transition: transform var(--ifm-transition-fast) linear !important;
    border: none !important;
    transform-origin: unset !important;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.6;
  }
}

.openapi-explorer__request-btn {
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #266eff;
  width: 67px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: Inter-Medium;
  font-size: 14px;
  color: #266eff;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    opacity: 0.8;
  }
}

.openapi-explorer__details-container {
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .openapi-schema__required {
    color: #ea3902;
    background: rgba(227, 77, 60, 0.15);
    margin-left: 4px;
  }
}

.openapi-explorer__playground-editor .prism-code {
  font-size: inherit;
}

// Prevent auto zoom on mobile iOS devices when focusing on input elmenents
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: 1024px) {
  .prism-code,
  select,
  input {
    font-size: inherit;
  }
}
