.toc-font {
  font-size: 14px;
  font-family: Inter-SemiBold, Inter;
  font-weight: normal;
  color: #171717;
  line-height: 24px;
}
// PC端自定义滚动条样式
@media screen and (min-width: 1025px) {
  .mobile-toc-container {
    // 滚动条
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* 滑块样式 */
    &::-webkit-scrollbar-thumb {
      background: rgba(81, 88, 105, 0.2);
      border-radius: 4px;
    }
  
    /* 轨道样式 */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
@media screen and (max-width: 1280px) {
  .toc-btn {
    width: 277px;
    cursor: pointer;
  }

  .mobile-toc-container {
    position: absolute;
    z-index: 101;
    top: 48px;
    right: 0;
    min-width: 331px;
    background: #ffffff;
    padding: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 480px;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(229, 231, 235, 0.6);
  }
  .mobile-toc-mask {
    margin-top: 54px; // TODO: header height
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 50px);
    inset: 0;
    background-color: transparent;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .toc-btn {
    width: 100%;
  }
  .mobile-toc-container {
    margin-top: 114px;
    position: fixed;
    z-index: 101;
    top: 0;
    right: auto;
    left: 15px;
    width: calc(100% - 35px);
    background: #ffffff;
    padding: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 202px);
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(229, 231, 235, 0.6);
  }
  .mobile-toc-mask {
    margin-top: 54px; // TODO: header height
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 50px);
    inset: 0;
    background-color: transparent;
    overflow: hidden;
  }
}
