.toc-btn {
  background: var(--docuo-m-drawer-btn-bg);
  border: var(--docuo-m-drawer-btn-border);

  .toc-icon {
    color: var(--docuo-m-toc-btn-icon-color);
  }
}
.toc-font {
  font-size: 14px;
  font-family: var(--font-inter-semibold), var(--font-inter);
  font-weight: normal;
  color: var(--docuo-color-primary);
  line-height: 24px;
}
// PC端自定义滚动条样式
@media screen and (min-width: 1025px) {
  .mobile-toc-container {
    // 滚动条
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* 滑块样式 */
    &::-webkit-scrollbar-thumb {
      background: rgba(81, 88, 105, 0.2);
      border-radius: 4px;
    }

    /* 轨道样式 */
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  // dark mode
  html[data-theme="dark"] {
    .mobile-toc-container {
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .toc-btn {
    width: var(--preview-anchor-width);
    cursor: pointer;
  }

  .mobile-toc-container {
    position: absolute;
    z-index: 101;
    top: 48px;
    right: 0;
    min-width: var(--preview-anchor-width);
    background: var(--docuo-popup-bg);
    padding: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 480px;
    overflow: auto;
    box-shadow: var(--docuo-m-popup-box-shadow);
    border-radius: 8px;
    border: var(--docuo-popup-border);
  }
  .mobile-toc-mask {
    margin-top: 54px; // TODO: header height
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 50px);
    inset: 0;
    background-color: transparent;
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  .toc-btn {
    width: 100%;
  }
  .mobile-toc-container {
    margin-top: 114px;
    position: fixed;
    z-index: 101;
    top: 0;
    right: auto;
    left: 15px;
    width: calc(100% - 35px);
    background: var(--docuo-popup-bg);
    padding: 20px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 202px);
    overflow: auto;
    box-shadow: var(--docuo-m-popup-box-shadow);
    border-radius: 8px;
    border: var(--docuo-popup-border);
  }
  .mobile-toc-mask {
    margin-top: 54px; // TODO: header height
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: calc(100vh - 50px);
    inset: 0;
    background-color: transparent;
    overflow: hidden;
  }
}
