.openapi-schema__container {
  display: flex;
  align-items: center;
  strong {
    height: 24px;
    font-family: var(--font-roboto-mono-bold);
    font-size: 14px;
    line-height: 24px;
    margin-right: 10px;
  }
  .openapi-schema__property {
    color: var(--docuo-openapi-schema-property-color);
    cursor: pointer;
    transition: 300ms;
  }
}

.openapi-schema__list-item {
  list-style: none;
  position: relative;
  margin: 0 !important;
  padding: 0 0 16px 16px;
  border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
  &:not(:last-of-type) {
    &::after {
      content: "";
      height: 1px;
      margin-top: 16px;
      display: flex;
      background-color: var(--docuo-openapi-list-item-leading-line-color);
    }
  }
  &:last-of-type {
    padding-bottom: 0 !important;
  }
  div {
    p {
      margin: 0;
      // font-family: var(--font-inter-medium);
      font-weight: 500;
      font-size: 14px;
      color: var(--docuo-openapi-schema-list-item-color);
      line-height: 23px;
      strong {
        font-family: var(--font-inter);
        font-size: 14px;
        font-weight: 400;
        margin-right: 8px;
      }
    }
  }
  & > .openapi-markdown__details {
    & > summary {
      display: flex;
      align-items: center;
      & + div {
        & > div {
          font-family: var(--font-inter);
          font-weight: 500;
          font-size: 14px;
          color: var(--docuo-openapi-schema-list-item-color);
          line-height: 23px;
          & > strong {
            font-family: var(--font-inter);
            font-size: 14px;
            font-weight: 400;
            margin-right: 8px;
          }
        }
      }
      & > strong {
        font-family: var(--font-roboto-mono-bold);
        font-size: 16px;
        margin-right: 10px;
        color: var(--docuo-openapi-schema-property-color);
      }
      .schema-name {
        background-color: var(--docuo-openapi-name-bg-color);
        color: var(--docuo-openapi-name-color);
      }
    }
  }
  & > div {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    & > div {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .openapi-schema__container:not(:last-child) {
    margin-bottom: 8px;
  }
  .openapi-schema__list-item {
    &::after {
      display: none !important;
    }
    &::before {
      top: 4px;
    }
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  .openapi-markdown__details {
    summary {
      padding: 0 0 0 16px;
    }
  }
}

.openapi-schema__deprecated {
  display: flex;
  align-items: center;
  font-size: 10.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--openapi-deprecated);
  margin-left: 1%;
  background-color: transparent;
}

.openapi-schema__nullable {
  display: flex;
  align-items: center;
  font-size: 10.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--openapi-nullable);
  margin-left: 1%;
  background-color: transparent;
}

.openapi-schema__strikethrough {
  text-decoration: line-through;
}

.openapi-schema__divider {
  flex-grow: 1;
  border-bottom: thin solid var(--ifm-toc-border-color);
  margin: 10px;
}
