.openapi-schema__container {
  .openapi-schema__property {
    color: #1abd00;
    cursor: pointer;
  }
}

.openapi-schema__list-item {
  list-style: none;
  position: relative;
  margin: 0 !important;
  padding: 0 0 16px 16px;
  border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
  &:not(:last-of-type) {
    &::after {
      content: "";
      height: 1px;
      margin-top: 16px;
      display: flex;
      background-color: rgba(229, 231, 235, 0.8);
    }
  }
  &:last-of-type {
    padding-bottom: 0 !important;
  }
  & > div {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    & > div {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  .openapi-schema__container:not(:last-child) {
    margin-bottom: 8px;
  }
}

.openapi-schema__required {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  background: #fcf3f2;
  height: 20px;
  border-radius: 4px;
  color: #ff2900;
  line-height: normal;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

.openapi-schema__deprecated {
  display: flex;
  align-items: center;
  font-size: 10.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--openapi-deprecated);
  margin-left: 1%;
  background-color: transparent;
}

.openapi-schema__nullable {
  display: flex;
  align-items: center;
  font-size: 10.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--openapi-nullable);
  margin-left: 1%;
  background-color: transparent;
}

.openapi-schema__strikethrough {
  text-decoration: line-through;
}

.openapi-schema__property {
  margin-top: 1.25px;
  font-family: var(--ifm-font-family-monospace);
  transition: 300ms;
}

.openapi-schema__divider {
  flex-grow: 1;
  border-bottom: thin solid var(--ifm-toc-border-color);
  margin: 10px;
}

.openapi-schema__container {
  display: flex;
  align-items: center;
}
