.article-pager-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}
.article-pager {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
  &:hover {
    border-radius: 6px;
    background: var(--docuo-pager-bg-hover);
    transition: all 0.3s;
  }
  &.article-pager-next {
    padding: 12px 10px 12px 12px;
    align-items: flex-end;
  }
  &.article-pager-prev {
    padding: 12px 12px 12px 10px;
    align-items: flex-start;
  }
  .article-pager-icon-prev,
  .article-pager-icon-next {
    font-size: 18px;
    position: absolute;
    top: 12px;
    color: var(--docuo-pager-arrow-color);
  }
  .article-pager-icon-prev {
    left: 6px;
  }
  .article-pager-icon-next {
    right: 6px;
  }
  .article-pager-title {
    font-family: Inter, Inter;
    font-weight: 500;
    font-size: 13px;
    color: var(--docuo-pager-title-color);
    line-height: 18px;
    margin-left: 12px;
    &.article-pager-title-next {
      text-align: right;
      margin-left: 0;
      margin-right: 12px;
    }
  }
  .article-pager-description {
    font-family: Inter, Inter;
    font-weight: 500;
    font-size: 16px;
    color: var(--docuo-pager-desc-color);
    line-height: 24px;
    margin-top: 6px;
    &.article-pager-description-next {
      text-align: right;
    }
  }
}
.pager-separator {
  flex-grow: 1;
  min-width: 36px;
}

@media screen and (max-width: 1440px) {
  .article-pager-container {
  }
}
@media screen and (max-width: 375px) {
  .article-pager-container {
    flex-wrap: wrap;
  }
}
