.treeNodeLabel {
  &:not(.isLevel0) {
    color: var(--docuo-sidebar-color);
    padding-left: 14px;
    border-left-width: 1px;
    border-inline-start-color: transparent;
    transform: translateX(-1px);
    transition: all 0.3s;

    &.active {
      border-inline-start-color: var(--docuo-color-primary-active) !important;
    }
  }

  &.isLevel0 {
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
  }

  &.active {
    font-family: Inter-SemiBold, Inter;
    font-weight: 600;
    color: var(--docuo-color-primary-active);
  }

  &.islink {
    &:hover {
      color: var(--docuo-color-primary-active);
    }

    &:not(.isLevel0) {
      border-left-width: 1px;
      border-inline-start-color: transparent;
      transform: translateX(-1px);
      transition: all 0.3s;
      &:hover {
        border-inline-start-color: var(--docuo-color-primary-active);
      }
    }
  }
}

.treeNodeIcon {
  color: var(--docuo-sidebar-color);
}

.childrenBorderLeft {
  border-left-width: 1px;
  border-inline-start-color: var(--docuo-sidebar-border-color);
}
