.openapi-explorer__response-container {
  border-radius: 6px 6px 6px 6px;
  overflow: hidden;
  .openapi-explorer__code-block code {
    padding-top: 0;
  }

  .openapi-explorer__response-title-container {
    background: #282828;
    display: flex;
    padding: 10px 11px 10px 16px;
    justify-content: space-between;
    align-items: center;
    font-family: Inter-Medium;
    font-weight: 500;
    font-size: 14px;
    color: #b6b6b6;
  }
  .openapi-explorer__response-content {
    overflow: hidden;
    background: #171717;
    & > .openapi-tabs__schema-container {
      margin-top: 0;
      .openapi-tabs__schema-tabs-container {
        padding: 10px 15px 0 15px;
        background: #282828;
      }
      .openapi-tabs__schema-item {
        font-family: Inter;
        font-weight: 500;
        font-size: 13px;
        padding: 0 0 12px 0;
        margin-right: 28px;
        border: none !important;
        border-bottom: 1px solid transparent !important;
        border-radius: 0;
        color: rgba(255, 255, 255, 0.5);
        &.active {
          border-bottom-color: #0055ff !important;
          color: #0055ff;
          &.openapi-response__dot--success {
            border-bottom-color: #0055ff !important;
            color: #0055ff;
          }
          &.openapi-response__dot--danger {
            border-bottom-color: #f64841 !important;
            color: #f64841;
          }
          &.openapi-response__dot--info {
            border-bottom-color: rgba(255, 255, 255, 0.5) !important;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  .openapi-explorer__response-placeholder-message {
    margin: 13px 0 27px !important;
    font-family: Inter;
    font-weight: 500;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 27px;
    text-align: center;
  }

  .openapi-explorer__response-clear-btn {
    width: 68px;
    height: 31px;
    border-radius: 6px 6px 6px 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }

  // .openapi-response__dot::before {
  //   display: flex !important;
  //   margin-right: 0.2rem;
  //   margin-bottom: 0.15rem;
  //   content: "⬤";
  //   color: var(--ifm-color-primary);
  //   font-size: 8px;
  // }

  // .openapi-response__dot--danger::before {
  //   color: #f64841;
  // }

  // .openapi-response__dot--success::before {
  //   color: #0055FF;
  // }

  // .openapi-response__dot--info::before {
  //   color: rgba(255, 255, 255, 0.5);
  // }

  // .openapi-response__status-code {
  //   margin-left: -1rem;
  // }

  // .openapi-response__status-headers {
  //   margin-left: -1rem;
  // }

  .openapi-explorer__loading-container {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 17px 0px;
  }

  /* loading spinner */
  .openapi-response__lds-ring {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 36px;
    background-image: url("~/assets/images/openapi/request_loading.png");
    background-size: cover;
    animation: openapi-response__lds-ring 1s cubic-bezier(0.5, 0.5, 0.5, 0.5) infinite;
  }
  @keyframes openapi-response__lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@media screen and (max-width: 1024px) {
  .openapi-explorer__response-container {
    .openapi-explorer__response-placeholder-message {
      margin: 14px 0 26px !important;
    }
  }
}
