.openapi__method-endpoint {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  margin-top: 16px;
  background-color: var(--docuo-openapi-method-endpoint-bg-color);
  border-radius: 6px 6px 6px 6px;
  border: none;
}

h2.openapi__method-endpoint-path {
  font-family: var(--font-roboto-mono-regular);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 0 10px;
  word-break: break-word;
}

.openapi__divider {
  border-radius: 0px 0px 0px 0px;
  border-bottom: 1px solid var(--docuo-openapi-divider-color);
  margin: 24px 0 24px;
  width: 100%;
}
