.openapi__method-endpoint {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  margin-top: 16px;
  background: #f7f8f9;
  border-radius: 6px 6px 6px 6px;
  border: none;
  overflow: auto;
}

h2.openapi__method-endpoint-path {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 14px;
  color: #171717;
  line-height: 20px;
  margin: 0 0 0 10px;
}

.openapi__divider {
  border-radius: 0px 0px 0px 0px;
  border-bottom: 1px solid rgba(229, 231, 235, 0.8);
  margin: 33px 0 32px;
  width: 100%;
}
