// Badge
.theme-api-markdown {
    .badge {
        font-family: var(--font-inter-semibold);
        background-color: var(--docuo-openapi-badge-bg-primary-color);
        border-radius: 4px 4px 4px 4px;
        padding: 0 5px;
        font-weight: normal;
        font-size: 12px;
        line-height: 21px;
        color: var(--docuo-openapi-badge-primary-color);
        display: inline-flex;
        align-items: center;
        border: none;
        &.badge--success {
            background-color: var(--docuo-openapi-badge-bg-success-color);
        }
        &.badge--danger {
            background-color: var(--docuo-openapi-badge-bg-danger-color);
        }
        &.badge--primary {
            background-color: var(--docuo-openapi-badge-bg-primary-color);
        }
        &.badge--info {
            background-color: var(--docuo-openapi-badge-bg-info-color);
        }
        &.badge--warning {
            background-color: var(--docuo-openapi-badge-bg-warning-color);
        }
        &.badge--secondary {
            background-color: var(--docuo-openapi-badge-bg-secondary-color);
            color: var(--docuo-openapi-badge-secondary-color);
        }
    }
    .openapi-markdown__details {
        &:has(> .oneof-container) {
            position: relative;
            & > .oneof-container {
                & > .oneof-label {
                    height: 19px;
                    padding: 0 4px;
                    background: rgba(0, 178, 255, 0.1);
                    border-radius: 4px 4px 4px 4px;
                    position: absolute;
                    left: 100px;
                    top: 3px;
                    font-family: var(--font-roboto-mono-regular);
                    font-size: 12px;
                    color: #00b2ff;
                }
            }
            &:has(> summary > .openapi-schema__required) {
                & > .oneof-container {
                    & > .oneof-label {
                        left: 167px;
                    }
                }
            }
            &:has(> summary > .schema-name) {
                & > .oneof-container {
                    & > .oneof-label {
                        left: 110px;
                    }
                }
            }
        }
    }
}
