#callbacks {
    padding: 10px 0;
    margin: 0;
    font-family: var(--font-inter-semibold);
    font-size: 22px;
    line-height: 28px;
    & + .tabs-container {
        position: relative;
        .tabs__container {
            .openapi-tabs__operation-container {
                position: absolute;
                top: -57px;
                right: 0;
            }
        }
    }
}
