// Outer Layout
.preview-content-wrap:has(.theme-api-markdown) {
    .article-anchor-right {
        display: none !important;
    }
    .article-breadcrumb {
        padding: 0 32px 0 24px;
    }
    .middle__show {
        display: none !important;
    }
}
.openapi-left-panel__container {
    border-right: none;
}
@media screen and (min-width: 1281px) {
    .preview-content-wrap:has(.theme-api-markdown) {
        overflow: hidden;
        .article {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .openapi-left-panel__container {
        width: 60.28%;
        padding: 0 32px 0 24px;
    }
    .openapi-right-panel__container {
        width: 39.72%;
        padding: 0 1px 0 24px;
    }
}
@media screen and (max-width: 1280px) {
    .openapi-left-panel__container {
        width: 100%;
        padding: 0 32px 0 24px;
    }
    .openapi-right-panel__container {
        width: 100%;
        padding: 0 32px 0 24px;
    }
}

// Yaml info page
.openapi-tabs__schema-list-container.tabs.openapi-tabs__security-schemes {
    padding-inline-start: 0;
    display: flex;
    margin: 0;
    .openapi-tabs__schema-item {
        &::before {
            display: none !important;
        }
    }
}
// OpenAPI doc
pre {
    background-color: initial;
    border-radius: initial;
    color: initial;
    font: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
}
.theme-api-markdown {
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    ul {
        margin: 0;
        & > li::before {
            display: none;
        }
    }
}
// Request PARAMETERS
.openapi-left-panel__container {
    & > .openapi-markdown__details {
        margin-bottom: 0 !important;
        &[open] {
            margin-bottom: 20px !important;
        }
    }
}
// Request Body
.openapi-schema__divider {
    display: none;
}

// Response samples
.openapi-code__response-samples-container {
    background-color: #171717;
    border-radius: 6px;
}
// Response
.openapi-tabs__response-container {
    padding-left: 0;
}
.openapi-tabs__response-list-container {
    padding: 0;
}
// Common
ul.export-dropdown.dropdown__menu {
    margin: 0;
    padding-inline-start: 0.5rem;
    li {
        margin: 0;
        &::before {
            display: none;
        }
        a {
            border-bottom: none;
        }
    }
}
.dropdown--hoverable:hover .dropdown__menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
}
