#request {
    height: 28px;
    font-family: Inter-Semi Bold;
    font-size: 22px;
    line-height: 28px;
    margin: 31px 0 20px;
}

.body-description-container {
    margin-left: 5px;
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
    padding: 16px 0 16px 16px;
    .body-description {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        color: #515869;
        line-height: 20px;
    }
}
.schema-description {
    border-left: 1px solid #e5e7eb;
    padding: 0 0 8px 16px !important;
}
.array-type {
    background: rgba(81, 88, 105, 0.07);
    border-radius: 4px;
    margin-right: 10px;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 12px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px 0;
}
.opening-array-bracket-container {
    padding-top: 18px !important;
    padding-bottom: 8px;
    padding-left: 16px;
    border-left: 1px solid #e5e7eb;
    margin: 0 !important;
    // & + .openapi-schema__list-item {
    //     padding-left: 32px;
    // }
    &:first-child {
        padding-top: 0 !important;
    }
}
.body-description-container + ul > .opening-array-bracket-container {
    padding-top: 0 !important;
}
.closing-array-bracket-container {
    padding-left: 16px;
    border-left: 1px solid #e5e7eb;
    margin: 0 !important;
}
.openapi-left-panel__container {
    & > p {
        line-height: 24px;
    }
}
