#request {
    height: 28px;
    font-family: Inter-Semi Bold;
    font-size: 22px;
    line-height: 28px;
    margin: 31px 0 20px;
}

.body-description-container {
    margin-left: 5px;
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
    padding: 0 0 16px 16px;
    margin-top: 16px;
    .body-description {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        color: var(--docuo-openapi-body-description-color);
        line-height: 20px;
    }
}
.schema-description {
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
    padding: 0 0 8px 16px !important;
}
.schema-common-description {
    margin-bottom: 8px;
    margin-left: 15px;
}
.array-type {
    background: rgba(81, 88, 105, 0.07);
    border-radius: 4px;
    margin-right: 10px;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 12px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px 0;
}
.opening-array-bracket-container {
    padding-top: 18px !important;
    padding-bottom: 16px;
    padding-left: 16px;
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
    margin: 0 !important;
    color: var(--docuo-openapi-schema-list-item-color);
    // & + .openapi-schema__list-item {
    //     padding-left: 32px;
    // }
    &:first-child {
        padding-top: 0 !important;
    }
    .opening-array-bracket {
        display: inline-flex;
        align-items: center;
    }
    .opening-array-bracket_text {
        background-color: var(--docuo-openapi-name-bg-color);
        color: var(--docuo-openapi-name-color);
        margin-right: 4px;
    }
    .opening-array-bracket_symbol {
        line-height: 19px;
    }
}
.body-description-container + ul > .opening-array-bracket-container {
    padding-top: 0 !important;
}
.closing-array-bracket-container {
    padding-left: 16px;
    padding-top: 16px !important;
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
    margin: 0 !important;
    color: var(--docuo-openapi-schema-list-item-color);
}
.openapi-left-panel__container {
    & > p {
        line-height: 24px;
    }
}
.request-schema-first-body-node-container {
    margin-left: 5px !important;
    div {
        font-family: Inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 23px;
        color: var(--docuo-openapi-params-list-item-color);
    }
}
