.apitab-tabpanel-container {
    .tabpanel-container {
        & > div:not([class]) {
            margin-bottom: 24px;
            margin-top: 10px;
            font-family: Inter;
            font-weight: 400;
            font-size: 16px;
            color: var(--docuo-openapi-response-description-color);
            line-height: 24px;
        }
    }
}
.openapi-markdown__details.response > summary {
    &.openapi-markdown__details-summary-response {
        font-family: Inter-Medium;
        font-weight: 500;
        font-size: 12px;
        color: var(--docuo-openapi-response-summary);
        line-height: 20px;
        strong {
            font-family: inherit;
            font-weight: inherit;
        }
    }
}
.openapi-markdown__details {
    & > ul > .schemaItem {
        margin: 0;
        padding: 0;
        & > summary {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            strong {
                height: 24px;
                font-family: RobotoMono-Bold;
                font-size: 14px;
                line-height: 24px;
                margin-right: 10px;
                color: var(--docuo-openapi-schema-property-color);
                cursor: pointer;
            }
            .header-name-type {
                background-color: var(--docuo-openapi-name-bg-color);
                color: var(--docuo-openapi-name-color);
            }
        }
        & > div {
            font-family: Inter;
            font-weight: 500;
            font-size: 14px;
            color: var(--docuo-openapi-response-header-description);
            & > div {
                margin: 0 0 8px 0 !important;
            }
        }
    }
}
.response-schema-first-body-node-container {
    margin-left: 5px !important;
}
.openapi-markdown__details-summary-response + .response-schema-first-body-node-container {
    & > .opening-array-bracket-container:first-of-type {
        margin-top: 16px !important;
    }
}
