.schema-description-container {
    margin-left: 5px;
}
.openapi-markdown__details {
    & > summary + .schema-description-container {
        margin-top: 10px;
    }
}
.response-body-description-container {
    text-align: left;
    margin-left: 16px;
}
.response-headers-container {
    margin-left: 16px;
}
