.schema-description-container {
    margin-left: 5px;
}
.openapi-markdown__details {
    & > summary + .schema-description-container {
        margin-top: 10px;
    }
}
.response-body-description-container {
    text-align: left;
    margin-left: 16px;
}
.response-headers-container {
    margin-top: 10px !important;
    padding-left: 14px !important;
    margin-left: 5px !important;
    border-left: 1px solid var(--docuo-openapi-list-item-leading-line-color);
}
