.openapi-explorer__dropzone {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px dashed #05ec07;
  background-color: #171717;

  width: 100%;
  border-radius: 4px;
  font-size: 12px;
  padding: 15px;
  margin-top: 10px;
  flex-direction: column-reverse;
}

.openapi-explorer__file-name {
  font-family: Inter-Medium;
  font-weight: 500;
  color: #b6b6b6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

button.file-clear-btn {
  width: 51px;
  height: 25px;
  border-radius: 6px 6px 6px 6px;
  border: 1px solid rgba(5, 236, 7, 0.5);
  background: none;
  font-family: Inter-Medium;
  font-weight: 500;
  font-size: 12px;
  color: #05ec07;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: initial;
  transform: translateY(0);
  margin-top: 11px;
  &:hover {
    opacity: 0.8;
  }
}

.openapi-explorer__dropzone-hover {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px dashed var(--openapi-monaco-border-color);
  background-color: var(--openapi-input-background);
  width: 100%;
  border-radius: 4px;
  padding: var(--ifm-pre-padding);
  font-size: var(--ifm-code-font-size);
  border: 2px dashed var(--ifm-color-primary);

  background: linear-gradient(var(--openapi-dropzone-hover-shim), var(--openapi-dropzone-hover-shim)),
    linear-gradient(var(--ifm-color-primary), var(--ifm-color-primary));

  .openapi-explorer__dropzone-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: var(--ifm-pre-padding) 0;
    color: var(--ifm-pre-color);
  }
}

.openapi-explorer__dropzone-content {
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 16px 0 17px;
  color: #05ec07;
  .dropzone-add-icon {
    margin-right: 8px;
  }
}
@media screen and (max-width: 1024px) {
  .openapi-explorer__dropzone {
    margin-top: 0;
  }
}
