.footer-container {
  min-height: 319px;
  background: var(--docuo-footer-bg);
  .container {
    max-width: 1440px;
    width: 100%;
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 37px 32px 0;
    margin-bottom: 48px;
    .left {
      width: 320px;
      flex-shrink: 0;
      margin-right: 40px;
      .logo-container {
        height: 40px;
        display: flex;
        align-items: center;

        .logo {
          height: 100%;
          object-fit: contain;
        }
      }
      .description {
        margin-top: 13px;
        font-size: 14px;
        font-family: Inter-Regular, Inter;
        font-weight: 400;
        color: var(--docuo-footer-caption-color);
        line-height: 24px;
      }
      .social {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 24px;
        a {
          margin-right: 20px;
          &:last-of-type {
            margin-right: 0;
          }
        }
        .social-item {
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .right {
      display: flex;
      flex-wrap: wrap;
      margin-top: 9px;
      gap: 40px 0;
      &.two-col {
        width: 400px;
        &.two-row {
          width: 100%;
          .group {
            flex-grow: 1;
            min-width: auto;
          }
        }
        &.sm-wrap.two-row {
          width: 100%;
          .group {
            flex: 0 0 50%;
          }
        }
      }
      .group {
        width: 200px;
        .group-title {
          font-size: 16px;
          font-family: Inter-SemiBold, Inter;
          font-weight: normal;
          color: var(--docuo-color-primary);
          line-height: 24px;
        }
        .group-items {
          margin-top: 32px;
          display: flex;
          flex-direction: column;

          .group-item {
            height: 18px;
            font-size: 14px;
            // white-space: nowrap;
            width: 100%;
            height: 17px;
            font-size: 14px;
            font-family: Inter-Regular, Inter;
            font-weight: 400;
            color: var(--docuo-footer-link-color);
            line-height: 16px;
            margin-bottom: 21px;
            &:last-of-type {
              margin-bottom: 0;
            }
            &:hover {
              color: var(--docuo-footer-link-color-hover);
            }
          }
        }
      }
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    padding: 19px 0px 28px;
    max-width: calc(100% - 64px);
    margin-left: 32px;
    font-size: 12px;
    font-family: Inter-Regular, Inter;
    font-weight: 400;
    border-top: var(--docuo-footer-copyright-border);
    color: var(--docuo-footer-copyright-color);
    line-height: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .footer-container {
    .footer-wrapper {
      flex-direction: column;
      padding: 37px 20px 0;
      margin-bottom: 0;
      .right {
        margin-top: 0;
        margin-bottom: 50px;
        &.two-col {
          width: 100%;
        }
      }
      .left {
        width: 100%;
        margin-bottom: 40px;
        .description {
          margin-top: 9px;
        }
        .social {
          margin-top: 18px;
        }
      }
    }
    .copyright {
      margin: 0 20px;
      padding: 24px 0;
    }
  }
}
