.openapi-explorer__form-item-input-container {
  display: flex;
  align-items: center;
  background: #191919;
  border-radius: 6px 6px 6px 6px;
  padding: 11px 10px 11px 12px;
  border: 1px solid #333333;
  height: 40px;
  transition: all 0.3s;
  color: #f0f0f0;
  &:hover {
    border-color: #266eff;
  }
  &.error {
    border-color: #ff2900;
  }
  &.has-prefix {
    .prefix-container {
      margin-right: 16px;
      font-family: RobotoMono-Regular;
      font-weight: 400;
      font-size: 12px;
    }
  }
}
.openapi-explorer__form-item {
  &:not(:first-of-type) {
    .openapi-explorer__form-item-input-container,
    .select-container.inner-label {
      margin-top: 10px;
    }
  }
  &:first-of-type {
    .openapi-explorer__form-item-input-container,
    .select-container.inner-label {
      margin-top: 4px;
    }
  }
}
.openapi-explorer__form-item-input {
  outline: none;
  flex: 1;
  border: none;
  background: inherit;
  &::placeholder {
    color: #757575;
  }
}

.openapi-explorer__input-error {
  color: #ff2900;
  font-size: 12px;
  padding-top: 8px;
}
.openapi-explorer__details-container {
  &.params,
  &.body {
    .openapi-explorer__form-item-input-container {
      border: none;
      margin-top: 0;
      padding-left: 0;
      flex: 1;
    }
    .openapi-explorer__input-error {
      padding-top: 0;
      padding-bottom: 8px;
    }
  }
}
