.poweredByWrap {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    padding: 16px 32px 8px;
    background: var(--docuo-background-primary);
    z-index: 1;
}
.searchCriteria {
    position: fixed;
    max-width: 1440px;
    background: var(--docuo-background-primary);
    z-index: 1;
    width: 100%;
    top: 131px;
}
.searchBoxWrap {
    display: flex;
    padding: 8px 32px 0;
    .searchInput {
        margin-right: 20px;
    }
}
.searchSelectWrap {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
}
.platformAndVersionWrap {
    display: flex;
    flex-wrap: wrap;
}
.platformList {
    display: flex;
    .platformItem {
        margin-top: 16px;
        margin-bottom: 20px;
        cursor: pointer;
        border: var(--docsearch-searchbox-border);
        color: var(--docuo-color-primary);
        margin-right: 20px;
        border-radius: 20px;
        padding: 5px 20px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        &.active {
            border-color: var(--docuo-color-primary-active);
            color: var(--docuo-color-primary-active);
        }
    }
}
.hitWrap {
    padding: 203px 32px 71px;
}
.paginationWrap {
    background: var(--docuo-background-primary);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    bottom: -1px;
    width: 100%;
    max-width: 1440px;
}
