.openapi-explorer__form-item {
  font-size: 14px;
  &:first-child {
    margin-top: 0;
  }
  .tabs__item.openapi-tabs__schema-item {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: #b6b6b6;
    opacity: 1;
    &:hover {
      border-color: rgba(255, 255, 255, 0.2) !important;
      opacity: 0.8;
    }
    &.active {
      color: #05ec07;
      border-color: #05ec07 !important;
      &:hover {
        border-color: #05ec07 !important;
        opacity: 1;
      }
    }
  }
}
.openapi-explorer__details-container {
  &.params,
  &.body {
    .openapi-explorer__form-item[class="openapi-explorer__form-item"] {
      &:has(div > .openapi-explorer__form-item-input-container),
      &:has(div > .openapi-explorer__thin-btn),
      &:has(div > .ant-select-multiple) {
        background: #191919;
        border-radius: 6px 6px 6px 6px;
        border: 1px solid #333333;
        padding: 10px 10px 0 12px;
        margin-bottom: 10px;
      }
    }
  }
  &.body {
    .openapi-tabs__schema-container {
      .openapi-tabs__schema-tabs-container + .tabpanel-container {
        & > div > p {
          display: none;
        }
      }
    }
  }
}

.openapi-explorer__form-item-body-container {
  padding: 0;
}

.openapi-explorer__form-item-label-container {
  display: flex;
  align-items: center;
}

.openapi-explorer__form-item-label {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  color: #f0f0f0;
  line-height: 20px;
  margin-right: 4px;
}
.openapi-explorer__form-item-label-type {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px 4px 4px 4px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
