.eventStatus {
  padding: 9px 12px;
  margin-bottom: 8px;
  background: var(--docuo-background-secondary);
  border-radius: 6px;
  display: flex;
  align-items: center;
  
  .eventText {
    color: var(--docuo-color-secondary);
    font-size: 13px;
    line-height: 1;
  }
  
  .anticon {
    color: var(--docuo-color-primary, #1677ff);
  }

  :global(.ant-space .ant-space-item) {
    display: flex;
  }
}
