// Sender 样式 - 与 modal-new.tsx 完全一致
.sender {
  box-shadow: unset !important;
  border: var(--docsearch-searchbox-border);
  border-width: 0;
  &:focus-within {
    border-color: var(--docuo-color-primary-active);
  }
  :global(.ant-input) {
    color: var(--docuo-color-primary);
    &::placeholder {
      color: var(--docuo-text-color);
      opacity: 0.3;
    }
  }
}

.senderActions {
  :global(.ant-btn) {
    height: 28px;
  }
  :global(.ant-btn.ant-btn-circle) {
    width: 28px;
  }
  :global(.ant-btn.ant-btn-icon-only) {
    min-width: 28px;
  }
  :global(.ant-btn-variant-solid) {
    background: unset;
    color: var(--docuo-text-color);
    box-shadow: unset;
    opacity: 0.6;
    padding-left: 2px;
    &:hover {
      background: var(--docuo-ai-search-operate-btn-bg-hover);
      opacity: 1;
      color: var(--docuo-text-color);
      border-radius: 4px;
    }
  }
  :global(.ant-btn-variant-solid.ant-sender-actions-btn-disabled) {
    &:hover {
      opacity: 0.6;
      background: unset;
      color: var(--docuo-text-color);
      box-shadow: unset;
      cursor: not-allowed;
    }
  }
  :global(.ant-btn-color-primary.ant-btn-variant-text) {
    color: var(--docuo-color-primary-active);
  }
  :global(.ant-btn-color-primary.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover) {
    color: var(--docuo-color-primary-active);
    background: unset;
    opacity: 0.8;
  }
}
