.ins-version-wrapper {
  &.instance {
    width: 150px;
    &:last-child {
      width: 240px; // temp: 只有多实例，没有多版本时
    }
  }
  &.version {
    width: 80px;
  }
  &.group {
    width: 100%;
    margin-right: 16px;
  }
  &.platform {
    & + &.version,
    & + &.platform {
      width: 86px;
      margin-right: 0;
    }
    width: 100%;
    margin-right: 16px;
    &:has(~ &.version),
    &:has(~ &.platform) {
      width: 160px;
      margin-right: 10px;
    }
  }
  &.tab {
    width: 100%;
    margin-right: 16px;
  }
  height: 36px;
  background: var(--docuo-dropdown-label-bg);
  border-radius: 6px;
  border: var(--docuo-dropdown-label-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  margin-right: 10px;
  cursor: pointer;
  &:hover,
  &.active {
    background: var(--docuo-dropdown-label-bg-hover);
  }
  .label {
    font-size: 14px;
    font-family: var(--font-inter-medium);
    font-weight: 500;
    color: var(--docuo-color-primary);
    line-height: 24px;
    white-space: nowrap;

    & + .icon {
      font-size: 12px;
      margin-left: 6px;
      color: var(--docuo-dropdown-icon-color);
      transition: transform 0.3s;
      flex-shrink: 0;
    }
  }
}

.ins-version-popup {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-height: 258px;
  overflow: auto;
  overflow: overlay;
  padding: 8px !important;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05) !important;
  border-radius: 6px !important;
  border: var(--docuo-popup-border);
  background: var(--docuo-popup-bg) !important;
  :global(.ant-dropdown-menu-title-content a:hover) {
    color: inherit;
  }
  // 滚动条
  &::-webkit-scrollbar {
    width: 6px;
  }
  /* 滑块样式 */
  &::-webkit-scrollbar-thumb {
    background: rgba(81, 88, 105, 0.2);
    border-radius: 4px;
  }

  /* 轨道样式 */
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
html[data-theme="dark"] {
  .ins-version-popup {
    /* 滑块样式 */
    &::-webkit-scrollbar-thumb {
      background: #2b2b2b;
    }
  }
}
.popup-list-item {
  height: 40px;
  flex-shrink: 0;
  padding: 6px 8px !important;
  font-size: 14px !important;
  font-family: var(--font-inter-medium);
  font-weight: 500 !important;
  color: var(--docuo-popup-color) !important;
  border-radius: 4px !important;
  transition: unset !important;

  &.active {
    color: var(--docuo-color-primary-active) !important;
  }

  &:hover {
    background: var(--docuo-popup-bg-hover) !important;
  }
}
