.theme-api-markdown {
    line-height: normal;
    ul {
        margin: 0;
        & > li::before {
            display: none;
        }
    }
}
.openapi-security__summary-header {
    font-size: 12px !important;
    margin-bottom: unset !important;
    line-height: normal !important;
    margin-top: 0 !important;
}

.openapi-security__details {
    pre code {
        background-color: transparent !important;
        border: none !important;
    }
}
.openapi__method-endpoint-path {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    margin-left: 0.5rem !important;
    font-size: 12px !important;
    font-weight: normal !important;
    font-family: var(--ifm-font-family-monospace) !important;
}
.theme-api-markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--ifm-heading-font-family);
        font-weight: var(--ifm-heading-font-weight);
        line-height: var(--ifm-heading-line-height);
        margin: var(--ifm-heading-margin-top) 0 var(--ifm-heading-margin-bottom) 0;
    }
    h1 {
        font-size: var(--ifm-h1-font-size);
    }
    h2 {
        font-size: var(--ifm-h2-font-size);
    }
    h3 {
        font-size: var(--ifm-h3-font-size);
        &.openapi-markdown__details-summary-header-params,
        &.openapi-markdown__details-summary-header-body {
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}
.openapi-markdown__details p {
    font-size: inherit;
}
ul.tabs {
    margin: 0;
    padding-inline-start: 0;
    li.openapi-tabs__mime-item {
        font-size: 10px;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
    li.openapi-tabs__discriminator-item {
        font-size: 10px;
        margin-bottom: 0;
        margin-right: 0.5rem;
    }
    li.openapi-tabs__response-code-item {
        margin-bottom: 0;
        font-size: 12px;
        margin-right: 0.5rem;
    }
    li.openapi-tabs__schema-item {
        margin-bottom: 0;
        font-size: 12px;
        margin-right: 0.5rem;
    }
}
h2.openapi-tabs__response-header {
    margin-bottom: 0;
}
// dropdown arrow style
.theme-api-markdown details > summary {
    cursor: pointer;
    list-style: none;
    padding-left: 1rem;
    position: relative;
    &::before {
        position: absolute;
        left: 0;
    }
}
.theme-api-markdown details[data-collapsed="false"] > summary:before {
    transform: rotate(90deg) !important;
}
.theme-api-markdown details[open] > summary:before {
    transform: rotate(180deg) !important;
}

.openapi-markdown__details > summary::before {
    top: 0.35rem;
}
.token.punctuation {
    color: inherit;
}
.token.variable {
    color: inherit;
}
ul.tabs {
    li.tabs__item.openapi-tabs__schema-item::before {
        display: none;
    }
}
ul.export-dropdown.dropdown__menu {
    margin: 0;
    padding-inline-start: 0.5rem;
    li {
        margin: 0;
        &::before {
            display: none;
        }
        a {
            border-bottom: none;
        }
    }
}
.dropdown--hoverable:hover .dropdown__menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
}
