/* DocSearch Header 弹窗：自定义平铺布局 */
.DocSearch-Modal {
    .DocSearch-Dropdown {
        display: flex;
        flex-direction: column;
        overflow-y: unset;
        position: relative;
        // 实际以底部内容为准
        padding-bottom: 41px;
        .DocSearch-Dropdown-Container {
            overflow-y: overlay;
        }
    }
    // 隐藏组标题（lvl0 分组头）
    .DocSearch-Hit-source {
        display: none;
    }

    // 移除子级缩进，实现平铺效果
    .DocSearch-Hit--Child {
        padding-left: 0 !important;

        .DocSearch-Hit-Tree {
            display: none;
        }
    }
}
