.editor-wrapper,
.editor-container {
	font-family: Inter;
	font-size: 14px;
	font-weight: 300;
	color: var(--docuo-color-primary);
	line-height: 25px;
	// 如果单词太长无法装进容器里，允许在任意位置断行
	word-wrap: break-word;

	.katex-html[aria-hidden="true"] {
		display: none;
	}

	//标题
	h1 {
		font-family: Inter-Bold;
		font-weight: bold;
		color: var(--docuo-color-primary);
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: Inter-SemiBold, Inter;
		font-weight: bold;
		color: var(--docuo-color-primary);
	}
	h2,
	h3,
	h4 {
		margin-top: 32px;
		margin-bottom: 20px;
	}
	h5 {
		margin-top: 28px;
		margin-bottom: 20px;
	}
	h6 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h1 {
		font-size: 36px;
		line-height: 54px;
	}
	h2 {
		font-size: 30px;
		line-height: 36px;
	}
	h3 {
		font-size: 26px;
		line-height: 32px;
	}
	h4 {
		font-size: 22px;
		line-height: 28px;
	}
	h5 {
		font-size: 18px;
		line-height: 28px;
	}
	h6 {
		font-size: 16px;
		line-height: 24px;
	}

	// 正文
	p {
		font-size: 16px;
		color: var(--docuo-text-color);
		margin: 16px 0;
	}

	hr {
		height: 0;
		border-top: 1px solid var(--docuo-hr-color);
		margin: 32px 0;
	}

	ul,
	ol {
		margin: 20px 0 26px;
		padding-inline-start: 20px;
		& > li {
			font-size: 16px;
			line-height: 24px;
			font-weight: 400;
			color: var(--docuo-text-color);
			margin: 14px 0;
		}
	}
	li {
		& > ul,
		& > ol {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	// 无序排序序号
	ul:not([data-type="taskList"]) {
		> li:not([class^="ant-"])::before {
			content: "";
			width: 6px;
			height: 6px;
			background: var(--docuo-ul-dot-color);
			border-radius: 4px 4px 4px 4px;
			position: absolute;
			left: -18px;
			top: 10px;
			z-index: 1;
		}
		// 直接子元素才生效，否则会影响到 ul 嵌套 ol 的样式
		> li:not([class^="ant-"]) {
			position: relative;
		}
	}
	// 有序排序序号
	ol > li:not([class^="ant-"]) {
		&::marker {
			color: var(--docuo-ol-number-color);
		}
	}
	ol {
		list-style-type: decimal;
	}
	// ol,
	// ol ol ol ol,
	// ol ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol ol {
	// 	list-style-type: decimal;
	// }
	// ol ol,
	// ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol ol ol {
	// 	list-style-type: lower-alpha;
	// }
	// ol ol ol,
	// ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol ol ol ol {
	// 	list-style-type: lower-roman;
	// }
	// 加粗
	b,
	strong {
		font-family: Inter-SemiBold, Inter;
		font-weight: bold;
	}
	// 下划线
	u {
		text-decoration: underline;
	}
	//链接
	a {
		font-family: Inter-Medium;
		color: var(--docuo-color-primary);
		text-decoration: none;
		border-bottom: 1px solid var(--docuo-color-primary-hover);
		&:hover {
			color: var(--docuo-color-primary-hover);
		}
	}

	// 引用
	blockquote {
		margin: 16px 0;
		border-radius: 6px;
		border: var(--docuo-blockquote-border);
		border-left: var(--docuo-blockquote-border-l);
		background: var(--docuo-blockquote-bg);
		padding: 16px 20px 16px 50px;
		position: relative;
		p {
			margin: 0;
			font-size: 16px;
			color: var(--docuo-text-color);
			line-height: 24px;
		}
		&::before {
			content: "";
			width: 14px;
			height: 14px;
			background: var(--docuo-blockquote-icon);
			background-size: contain;
			position: absolute;
			left: 18px;
			top: 13px;
		}
	}

	table {
		display: block;
		text-align: left;
		width: 100%;
		overflow: auto;
		margin: 20px 0;
		// table 正文颜色
		color: var(--docuo-text-color);
		p {
			color: var(--docuo-text-color);
		}

		tr {
			border-bottom: var(--docuo-table-border);
		}

		th,
		td {
			font-size: 14px;
			line-height: 22px;
			padding: 14px 12px;
			ul > li {
				font-size: 14px;
			}
		}

		th {
			font-family: Inter-SemiBold, Inter;
			font-weight: bold;
			color: var(--docuo-color-primary);
			background: var(--docuo-table-th-bg);
		}

		td {
			font-weight: 400;
		}
	}

	// inline code
	code:not([class*="language-"]) {
		padding: 2px 6px;
		background: var(--docuo-inline-code-bg);
		border: var(--docuo-inline-code-border);
		border-radius: 4px;
		font-family: ui-monospace, SFMono-Regular, Menlo;
		font-weight: 500;
		color: var(--docuo-color-primary);
		line-height: 1.2;
		font-size: 90%;
	}

	// video
	table,
	blockquote {
		.s-video-wrapper {
			margin: 0;
		}
	}
	h1 + .s-video-wrapper {
		margin: 50px 0 20px 0;
	}
	.s-video-wrapper {
		margin: 20px 0;
	}
}
