.editor-wrapper,
.editor-container {
	font-family: var(--font-inter);
	font-size: 14px;
	font-weight: 300;
	color: var(--docuo-color-primary);
	line-height: 25px;
	// 如果单词太长无法装进容器里，允许在任意位置断行
	word-wrap: break-word;

	.katex-html[aria-hidden="true"] {
		display: none;
	}

	//标题
	h1 {
		font-family: var(--font-inter-bold);
		font-weight: bold;
		color: var(--docuo-color-primary);
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-inter-semibold), var(--font-inter);
		font-weight: bold;
		color: var(--docuo-color-primary);
	}
	h2,
	h3,
	h4 {
		margin-top: 32px;
		margin-bottom: 20px;
	}
	h5 {
		margin-top: 28px;
		margin-bottom: 20px;
	}
	h6 {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	h1 {
		// font-size: 36px;
		// line-height: 54px;
		font-size: 32px;
		line-height: 1;
		margin: 26px 0 14px;
	}
	h2 {
		// font-size: 30px;
		// line-height: 36px;
		font-size: 22px;
		line-height: 1;
		margin: 40px 0 16px;
	}
	h3 {
		// font-size: 26px;
		// line-height: 32px;
		font-size: 18px;
		line-height: 1;
		margin: 24px 0 16px;
	}
	h4 {
		// font-size: 22px;
		// line-height: 28px;
		font-size: 16px;
		line-height: 1.5;
		margin: 16px 0;
	}
	h5 {
		// font-size: 18px;
		// line-height: 28px;
		font-size: 1em;
		line-height: 1.1;
		margin: 1.2em 0 0.6em;
	}
	h6 {
		// font-size: 16px;
		// line-height: 24px;
		font-size: 0.85em;
		line-height: 1.1;
		margin: 1.2em 0 0.6em 0;
	}

	// 正文
	p {
		font-size: 16px;
		color: var(--docuo-text-color);
		margin: 16px 0;
	}

	hr {
		height: 0;
		border-top: 1px solid var(--docuo-hr-color);
		margin: 32px 0;
	}

	// 兼容 openapi 样式
	&:not(:has(.theme-api-markdown)) {
		ul,
		ol {
			margin: 20px 0 26px;
			padding-inline-start: 20px;
			& > li {
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
				color: var(--docuo-text-color);
				margin: 14px 0;
			}
		}
		li {
			word-break: break-word;
			& > ul,
			& > ol {
				margin-top: 0;
				margin-bottom: 0;
			}
			&.choose-one.list[style*="display:null"] {
				display: unset !important;
			}
		}
	}

	// 无序排序序号
	ul:not([data-type="taskList"]) {
		> li:not([class^="ant-"])::before {
			content: "";
			width: 6px;
			height: 6px;
			background: var(--docuo-ul-dot-color);
			border-radius: 4px 4px 4px 4px;
			position: absolute;
			left: -18px;
			top: 10px;
			z-index: 1;
		}
		// 直接子元素才生效，否则会影响到 ul 嵌套 ol 的样式
		> li:not([class^="ant-"]) {
			position: relative;
		}
	}
	// 有序排序序号
	ol > li:not([class^="ant-"]) {
		&::marker {
			color: var(--docuo-ol-number-color);
		}
	}
	ol {
		list-style-type: decimal;
	}
	// ol,
	// ol ol ol ol,
	// ol ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol ol {
	// 	list-style-type: decimal;
	// }
	// ol ol,
	// ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol ol ol {
	// 	list-style-type: lower-alpha;
	// }
	// ol ol ol,
	// ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol,
	// ol ol ol ol ol ol ol ol ol ol ol ol {
	// 	list-style-type: lower-roman;
	// }
	// 加粗
	b,
	strong {
		font-family: var(--font-inter-semibold), var(--font-inter);
		font-weight: bold;
	}
	// 下划线
	u {
		text-decoration: underline;
	}
	//链接
	a {
		font-family: var(--font-inter-medium);
		color: var(--docuo-color-primary);
		text-decoration: none;
		border-bottom: 1px solid var(--docuo-color-primary-hover);
		transition: all 0.3s;
		&:hover {
			transition: all 0.3s;
			color: var(--docuo-color-primary-hover);
		}
	}

	// 引用
	blockquote {
		margin: 16px 0;
		border-radius: 6px;
		border: var(--docuo-blockquote-border);
		border-left: var(--docuo-blockquote-border-l);
		background: var(--docuo-blockquote-bg);
		padding: 16px 20px 16px 50px;
		position: relative;
		p {
			margin: 0;
			font-size: 16px;
			color: var(--docuo-text-color);
			line-height: 24px;
		}
		&::before {
			content: "";
			width: 14px;
			height: 14px;
			background: var(--docuo-blockquote-icon);
			background-size: contain;
			position: absolute;
			left: 18px;
			top: 13px;
		}
	}

	// 表格
	table {
		display: block;
		text-align: left;
		width: 100%;
		overflow: auto;
		margin: 20px 0;
		// table 正文颜色
		color: var(--docuo-text-color);
		border-radius: 4px;
		p {
			font-size: 14px;
			color: var(--docuo-text-color);
		}

		th,
		td {
			font-size: 14px;
			line-height: 22px;
			padding: 14px 12px;
			ul > li {
				font-size: 14px;
			}
			blockquote p {
				font-size: 14px;
			}
		}

		th {
			font-family: var(--font-inter-semibold), var(--font-inter);
			font-weight: bold;
			color: var(--docuo-color-primary);
			background: var(--docuo-table-th-bg);
			border: var(--docuo-table-border);
		}

		td {
			font-weight: 400;
			border: var(--docuo-table-border);
		}
	}

	// inline code
	code:not([class*="language-"]) {
		padding: 2px 6px;
		background: var(--docuo-inline-code-bg);
		border: var(--docuo-inline-code-border);
		border-radius: 4px;
		font-family: ui-monospace, SFMono-Regular, var(--font-menlo);
		font-weight: 500;
		color: var(--docuo-color-primary);
		line-height: 1.2;
		font-size: 90%;
	}

	// video
	table,
	blockquote {
		.s-video-wrapper {
			margin: 0;
		}
	}
	h1 + .s-video-wrapper {
		margin: 50px 0 20px 0;
	}
	.s-video-wrapper {
		margin: 20px 0;
	}

	&:has(.theme-api-markdown) {
		blockquote {
			margin-bottom: 0;
			strong {
				font-family: var(--font-inter-semibold), var(--font-inter);
			}
			& > :first-child {
    			margin-bottom: 6px;
				font-family: var(--font-inter-semibold), var(--font-inter);
			}
			p {
				font-size: 14px;
				color: var(--docuo-openapi-schema-list-item-color);
				line-height: 23px;
			}
			ul {
				padding-inline-start: 20px;
				> li::after {
					content: "";
					width: 6px;
					height: 6px;
					background: var(--docuo-ul-dot-color);
					border-radius: 4px 4px 4px 4px;
					position: absolute;
					left: -18px;
					top: 13px;
					z-index: 1;
				}
				// 直接子元素才生效，否则会影响到 ul 嵌套 ol 的样式
				> li {
					position: relative;
				}
			}
		}
		ul.custom-description-ul {
			padding-inline-start: 20px;
			> li::after {
				content: "";
				width: 6px;
				height: 6px;
				background: var(--docuo-ul-dot-color);
				border-radius: 4px 4px 4px 4px;
				position: absolute;
				left: -18px;
				top: 13px;
				z-index: 1;
			}
			// 直接子元素才生效，否则会影响到 ul 嵌套 ol 的样式
			> li {
				position: relative;
			}
		}
		.openapi-schema__list-item {
			ul:not([class]) {
				padding-inline-start: 20px;
				> li:not([class])::after {
					content: "";
					width: 6px;
					height: 6px;
					background: var(--docuo-ul-dot-color);
					border-radius: 4px 4px 4px 4px;
					position: absolute;
					left: -18px;
					top: 13px;
					z-index: 1;
				}
				// 直接子元素才生效，否则会影响到 ul 嵌套 ol 的样式
				> li:not([class]) {
					position: relative;
				}
			}
		}
	}
}
