:root {
  --preview-header-height: 68px;
  --preview-sider-width: 312px;
}

html {
  overflow: hidden;
  font-size: 16px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html > body {
  overflow: auto;
  scroll-padding-top: 128px;
  // height: calc(100vh - var(--preview-header-height));
}

@media screen and (min-width: 1025px) {
  html > body {
    scroll-padding-top: 68px;
  }
  // PC端自定义滚动条样式
  body,
  .preview-sider,
  .toc-scroller {
    // 滚动条
    &::-webkit-scrollbar {
      width: 8px;
    }
    /* 滑块样式 */
    &::-webkit-scrollbar-thumb {
      background: rgba(81, 88, 105, 0.2);
      border-radius: 4px;
    }

    /* 轨道样式 */
    &::-webkit-scrollbar-track {
      background: var(--docuo-background-primary);
    }
  }
  .article-anchor-right {
    // 滚动条
    &::-webkit-scrollbar {
      display: none;
    }
  }
  // dark mode
  html[data-theme="dark"] {
    body,
    .preview-sider,
    .toc-scroller {
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

#__next {
  height: 100%;
}

.preview-screen {
  display: flex;
  flex-direction: column;
  color: var(--docuo-color-primary);
  background: var(--docuo-background-primary);
}

.preview-main {
  min-height: calc(100vh - var(--preview-header-height));
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: var(--preview-header-height) auto 0;

  .powered-by {
    display: flex;
    align-items: center;
    transform: translateY(8px);
    span {
      font-family: Inter-SemiBold;
      font-size: 14px;
      font-weight: bold;
      color: #aeb1b8;
    }

    img {
      margin-left: 4px;
      width: 78px;
      height: 24px;
    }
  }
}

.preview-sider {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: auto;
  // border-right: 1px solid #efefef;
  position: sticky;
  top: var(--preview-header-height);
  left: 0;
  z-index: 99;
  height: calc(100vh - var(--preview-header-height));
}
.preview-side-close-btn {
  display: none;
}
.ant-breadcrumb-separator {
  display: flex;
}
.mobile-tree-container {
  display: none;
}

.preview-content-wrap {
  flex: 1;
  width: calc(100vw - var(--preview-sider-width) - 15px);

  .preview-content {
    display: flex;
    margin: 0 auto;
  }

  .article-breadcrumb {
    display: flex;
    // align-items: center;

    .drawer-switch {
      cursor: pointer;
      display: none;
    }

    .breadcrumb-label {
      color: var(--docuo-breadcrumb-color);
    }

    li:last-child .breadcrumb-label {
      color: var(--docuo-color-primary-active);
    }

    .breadcrumb-icon {
      color: var(--docuo-breadcrumb-icon-color);
    }
  }

  .article-content {
    margin-bottom: 100px;
  }

  .article-anchor-top {
    display: none;

    .ant-anchor::before {
      display: none;
    }
  }

  .ant-anchor-wrapper {
    margin-block-start: 0 !important;
    padding-block-start: 0 !important;
  }

  .drop-expand {
    display: flex;
    align-items: center;
    font-family: Inter-SemiBold;
    font-weight: 600;
    color: #171717;
    cursor: pointer;

    .left-icon {
      display: flex;
    }
  }

  .drop-anchor {
    max-height: 0 !important;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &.expand {
      max-height: 600px !important;
      transition: max-height 0.3s ease-in;
      overflow: auto;
    }
  }

  .ant-anchor {
    padding-left: 0;

    & > .ant-anchor-link {
      padding-left: 0 !important;
      padding-block: 0;
      & + .ant-anchor-link {
        margin-top: 12px;
      }
      & > .ant-anchor-link {
        padding-block: 0;
        line-height: 20px;
        & + .ant-anchor-link {
          padding-block-start: 8px;
        }
      }
    }
  }

  .article-anchor-right,
  .article-anchor-top {
    .ant-anchor-link-title:hover {
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #171717;
    }

    .ant-anchor-link-active > .ant-anchor-link-title {
      font-family: Inter-Regular, Inter;
      font-weight: 400;
      color: #171717;
    }

    .ant-anchor-ink.ant-anchor-ink-visible {
      display: none !important;
    }
  }
}

@media screen and (min-width: 1281px) {
  .middle__show {
    display: none;
  }

  .preview-header {
    padding: 0 40px 0 20px;

    .logo {
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
      }
    }
  }

  .preview-sider {
    width: var(--preview-sider-width);
    padding-right: 8px;
    .ant-tree {
      padding-top: 33px;
      .custom-node-title {
        img {
          margin-left: 15px;
          width: 16px;
          height: 17px;
        }
      }
      .ant-tree-treenode-selected {
        .ant-tree-indent-unit:nth-last-of-type(1)::after {
          content: "";
          width: 2px;
          height: 24px;
          background: #000000;
          display: block;
          position: absolute;
          inset-inline-end: 11px;
          top: 4px;
          bottom: 4px;
        }
      }
      &.ant-tree-show-line .ant-tree-indent-unit:before {
        inset-inline-end: 12px;
        bottom: -4px;
        top: -4px;
        display: inline;
      }

      .ant-tree-treenode {
        color: rgba($color: #171717, $alpha: 0.9);
        padding: 2px 25px 2px 29px;
      }

      .ant-tree-indent-unit {
        width: 16px;
      }
    }
  }

  .preview-content-wrap {
    // .preview-content {
    //   max-width: 1200px;
    // }

    .article {
      width: calc(100% - 312px);
      padding-left: 24px;
      padding-right: 32px;
    }

    .article-breadcrumb {
      margin: 28px 0 10px;
    }

    .article-anchor-top {
      display: none;
    }

    .article-anchor-right {
      display: flex;
      flex-direction: column;
      width: 312px;
      max-height: calc(100vh - var(--preview-header-height));
      border: none;
      position: sticky;
      top: var(--preview-header-height);
      flex: none;
      overflow: auto;

      .ant-anchor::before {
        display: none;
      }

      .ant-anchor-link-title {
        font-weight: 300;
        line-height: 20px;
        margin-block-end: 8px;
      }
    }

    .right-anchor-divide {
      margin-bottom: 20px;
      margin-top: 20px;
      width: 100%;
      height: 1px;
      background: var(--docuo-anchor-border-color);
    }

    .back-to-top {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      font-family: Inter-Medium;
      font-weight: 500;
      color: var(--docuo-anchor-top-btn-color);
      line-height: 24px;
      .top-btn {
        width: 24px;
        height: 24px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: var(--docuo-anchor-top-btn-border);
        background: var(--docuo-anchor-top-btn-bg);
      }
    }

    .drop-expand {
      font-size: 13px;
      line-height: 16px;

      .left-icon {
        img {
          width: 14px;
          height: 14px;
          margin-right: 8px;
        }
      }

      .right-icon {
        font-size: 16px;
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .only_pc__show {
    display: none !important;
  }
  .middle__show {
    display: block;
  }
  .preview-header {
    padding: 0 40px 0 20px;

    .logo {
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
      }
    }
  }

  .preview-sider {
    width: var(--preview-sider-width);
    padding: 0 0 16px 0;

    .ant-tree {
      padding-top: 33px;
      .custom-node-title {
        img {
          margin-left: 15px;
          width: 16px;
          height: 17px;
        }
      }
      .ant-tree-treenode-selected {
        .ant-tree-indent-unit:nth-last-of-type(1)::after {
          content: "";
          width: 2px;
          height: 24px;
          background: #000000;
          display: block;
          position: absolute;
          inset-inline-end: 11px;
          top: 4px;
          bottom: 4px;
        }
      }
      &.ant-tree-show-line .ant-tree-indent-unit:before {
        inset-inline-end: 12px;
        bottom: -4px;
        top: -4px;
        display: inline;
      }

      .ant-tree-treenode {
        color: rgba($color: #171717, $alpha: 0.9);
        padding: 2px 25px 2px 29px;
      }

      .ant-tree-indent-unit {
        width: 16px;
      }
    }
  }

  .preview-content-wrap {
    .article {
      width: 100%;
      padding-left: 24px;
      padding-right: 32px;
    }

    .article-breadcrumb {
      margin: 28px 0 10px;
    }

    .article-anchor-right {
      display: none;
    }

    .article-anchor-top {
      display: flex;
      flex-direction: column;
      background: #f9f9f9;
      margin-bottom: 24px;

      .ant-anchor-link-title {
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }

    .top-anchor-divide {
      width: 100%;
      background: #eeeeee;
      height: 0;
      transition: height 0.3s ease-out;

      &.expand {
        // height: 1px;
        transition: height 0.3s ease-in;
      }
    }
    .drop-anchor {
      .ant-anchor {
        padding: 6px 22px;
      }
      &.expand {
        border-top: 1px solid #eeeeee;
      }
    }

    .drop-expand {
      padding: 0 18px 0 22px;
      height: 32px;
      justify-content: space-between;
      font-size: 13px;
      line-height: 16px;

      .left-icon {
        img {
          width: 14px;
          height: 14px;
          margin-right: 8px;
        }
      }

      .right-icon {
        font-size: 16px;
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --preview-sider-width: 0px;
    --preview-header-height: 128px;
  }
  .middle__show {
    display: none;
  }
  .preview-main {
    position: relative;
  }

  .preview-header {
    .logo {
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
      }
    }
  }

  .preview-sider {
    display: none;
  }

  .preview-side-close-btn {
    display: block;
    color: var(--docuo-m-drawer-close-color);
  }

  .mobile-tree-container {
    display: flex;
    z-index: 1001;
    position: fixed;

    .ant-drawer-mask {
      background: var(--docuo-m-drawer-mask-bg);
    }

    .ant-drawer-content-wrapper {
      width: 21.25rem !important;

      .ant-drawer-content {
        background: var(--docuo-background-primary);
      }
    }

    .ant-drawer-header {
      display: none;
    }

    .ant-drawer-body {
      padding: 0 0 16px 0;
      display: flex;
      flex-direction: column;
    }

    .ant-tree {
      padding-top: 33px;
      background: #ffffff;

      .custom-node-title {
        img {
          margin-left: 15px;
          width: 16px;
          height: 17px;
        }
      }
      .ant-tree-treenode-selected {
        .ant-tree-indent-unit:nth-last-of-type(1)::after {
          content: "";
          width: 2px;
          height: 24px;
          background: #000000;
          display: block;
          position: absolute;
          inset-inline-end: 11px;
          top: 4px;
          bottom: 4px;
        }
      }
      &.ant-tree-show-line .ant-tree-indent-unit:before {
        inset-inline-end: 12px;
        bottom: -4px;
        top: -4px;
        display: inline;
      }

      .ant-tree-treenode {
        color: rgba($color: #171717, $alpha: 0.9);
        padding: 2px 25px 2px 29px;
      }

      .ant-tree-indent-unit {
        width: 16px;
      }
    }

    // .generate-desc {
    //   font-size: 14px;
    //   margin-top: 15px;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   color: rgba(102, 102, 102, 0.5);
    //   img {
    //     margin-left: 5px;
    //     width: 66px;
    //     height: 18px;
    //   }
    // }
  }

  .preview-content-wrap {
    .article {
      padding-right: 20px;
      padding-left: 20px;
    }

    .article-breadcrumb {
      margin: 28px 0 10px 0;

      .drawer-switch {
        display: flex;
        margin-right: 10px;
        margin-top: 5px;
        img {
          width: 16px;
          height: 12px;
        }
      }
    }

    .article-anchor-top {
      margin-bottom: 24px;

      .ant-anchor-link-title {
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }

    .drop-anchor {
      .ant-anchor {
        padding: 6px 22px;
      }
    }

    .drop-expand {
      padding: 0 13px 0 21px;
      height: 32px;
      font-size: 13px;
      line-height: 16px;

      .left-icon {
        img {
          width: 14px;
          height: 14px;
          margin-right: 6px;
        }
      }

      .right-icon {
        font-size: 16px;
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .preview-header {
    .logo {
      .title {
        margin-left: 13px;
      }
    }
  }

  .article-breadcrumb {
    // margin-top: 30px;

    .drawer-switch {
      margin-left: 3px;
      margin-right: 9px;
    }
  }
}
