:root {
  --preview-header-height: 68px;
  --preview-sider-width: 312px;
}

html {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html > body {
  overflow: auto;
  height: calc(100vh - var(--preview-header-height));
}

#__next {
  height: 100%;
}

.preview-screen {
  min-height: calc(100vh - var(--preview-header-height));
  display: flex;
  flex-direction: column;
}

.preview-header {
  height: var(--preview-header-height);
  background: #171717;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

    img {
      width: 28px;
      height: 28px;
    }

    .title {
      font-family: LexendDeca-SemiBold, LexendDeca;
      font-weight: 600;
      color: #ffffff;
    }
  }
}

.preview-main {
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
  // padding-top: var(--preview-header-height);
}

.preview-sider {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  overflow: auto;
  background: #FFFFFF;
  // border-right: 1px solid #efefef;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  height: calc(100vh - var(--preview-header-height));

  .generate-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: LexendDeca-Regular, LexendDeca;
    font-weight: 400;
    color: rgba(102, 102, 102, 0.5);

    img {
      margin-left: 5px;
      width: 66px;
      height: 18px;
    }
  }
}

.ant-tree {
  background: #f7f7f7;
  flex: 1;
  overflow-y: auto;

  .ant-tree-switcher {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .ant-tree-switcher.ant-tree-switcher-noop {
    display: none;
  }

  .ant-tree-node-content-wrapper {
    overflow-x: hidden;
    padding-right: 33px;
    &.ant-tree-node-content-wrapper-close,
    &.ant-tree-node-content-wrapper-open {
      padding-right: 0;
    }
  }

  .ant-tree-title {
    overflow-x: hidden;
  }

  .custom-node-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      flex: 1;
      &:hover,
      &:active {
        color: #171717;
      }
    }

    .action {
      margin-left: 15px;
    }
  }

  &.ant-tree-directory {
    .ant-tree-treenode::before {
      top: 4px;
    }

    .ant-tree-treenode-selected::before {
      background: transparent;
    }

    .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected {
      font-family: LexendDeca-Regular, LexendDeca;
      color: #171717;
    }

    .ant-tree-treenode-selected:hover::before,
    .ant-tree-treenode-selected::before {
      background: transparent;
    }

    .ant-tree-treenode .ant-tree-node-content-wrapper:hover {
      font-family: LexendDeca-Regular, LexendDeca;
    }
  }
}

.mobile-tree-container {
  display: none;
}

.preview-content-wrap {
  flex: 1;
  width: calc(100vw - var(--preview-sider-width) - 15px);

  .preview-content {
    display: flex;
    margin: 0 auto;
  }

  .article {
    width: 75%;
  }

  .article-breadcrumb {
    display: flex;
    // align-items: center;

    .drawer-switch {
      cursor: pointer;
      display: none;
    }
  }

  .article-content {
    margin: 0 auto;
    // overflow-x: hidden;
  }

  .article-anchor-top {
    display: none;

    .ant-anchor::before {
      display: none;
    }
  }

  .ant-anchor-wrapper {
    margin-block-start: 0 !important;
    padding-block-start: 0 !important;
  }

  .drop-expand {
    display: flex;
    align-items: center;
    font-family: LexendDeca-SemiBold;
    font-weight: 600;
    color: #171717;
    cursor: pointer;

    .left-icon {
      display: flex;
    }
  }

  .drop-anchor {
    max-height: 0 !important;
    overflow: hidden;
    transition: max-height 0.3s ease-out;

    &.expand {
      max-height: 600px !important;
      transition: max-height 0.3s ease-in;
      overflow: auto;
    }
  }

  .ant-anchor {
    padding-left: 0;

    & > .ant-anchor-link {
      padding-left: 0 !important;
      padding-block: 0;
      & + .ant-anchor-link {
        margin-top: 12px;
      }
      & > .ant-anchor-link {
        padding-block: 0;
        line-height: 20px;
        & + .ant-anchor-link {
          padding-block-start: 8px;
        }
      }
    }
  }

  .article-anchor-right,
  .article-anchor-top {
    .ant-anchor-link-title:hover {
      font-family: LexendDeca-Regular, LexendDeca;
      font-weight: 400;
      color: #171717;
    }

    .ant-anchor-link-active > .ant-anchor-link-title {
      font-family: LexendDeca-Regular, LexendDeca;
      font-weight: 400;
      color: #171717;
    }

    .ant-anchor-ink.ant-anchor-ink-visible {
      display: none !important;
    }
  }
}

@media screen and (min-width: 1025px) {
  .preview-header {
    padding: 0 40px 0 20px;

    .logo {
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
      }
    }
  }

  .preview-sider {
    width: var(--preview-sider-width);
    padding: 0 0 16px 0;

    .ant-tree {
      padding-top: 33px;
      .custom-node-title {
        img {
          margin-left: 15px;
          width: 16px;
          height: 17px;
        }
      }
      .ant-tree-treenode-selected {
        .ant-tree-indent-unit:nth-last-of-type(1)::after {
          content: "";
          width: 2px;
          height: 24px;
          background: #000000;
          display: block;
          position: absolute;
          inset-inline-end: 11px;
          top: 4px;
          bottom: 4px;
        }
      }
      &.ant-tree-show-line .ant-tree-indent-unit:before {
        inset-inline-end: 12px;
        bottom: -4px;
        top: -4px;
        display: inline;
      }

      .ant-tree-treenode {
        color: rgba($color: #171717, $alpha: 0.9);
        padding: 2px 25px 2px 29px;
      }

      .ant-tree-indent-unit {
        width: 16px;
      }
    }

    .generate-desc {
      font-size: 14px;
      margin-top: 15px;
    }
  }

  .preview-content-wrap {
    .preview-content {
      max-width: 1200px;
    }

    .article {
      padding-right: 60px;
      padding-left: 60px;
    }

    .article-breadcrumb {
      margin: 40px 0 42px;
    }

    .article-anchor-top {
      display: none;
    }

    .article-anchor-right {
      display: flex;
      flex-direction: column;
      width: 25%;
      max-width: 300px;
      height: calc(100% - 100px);
      padding: 44px 24px 40px 0;
      border: none;
      position: sticky;
      top: 0;
      flex: none;

      .ant-anchor::before {
        display: none;
      }

      .ant-anchor-link-title {
        font-weight: 300;
        line-height: 20px;
        margin-block-end: 8px;
      }
    }

    .right-anchor-divide {
      margin-bottom: 19px;
      margin-top: 20px;
      width: 100%;
      height: 1px;
      background: #eeeeee;
    }

    .back-to-top {
      display: flex;
      align-items: center;
      font-family: LexendDeca-Regular;
      font-weight: 400;
      font-size: 13px;
      color: #000000;
      letter-spacing: 0;
      cursor: pointer;

      img {
        height: 12px;
        width: 12px;
        margin-right: 4px;
      }
    }

    .drop-expand {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 21px;

      .left-icon {
        img {
          width: 14px;
          height: 14px;
          margin-right: 8px;
        }
      }

      .right-icon {
        font-size: 16px;
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .preview-header {
    padding: 0 40px 0 20px;

    .logo {
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
      }
    }
  }

  .preview-sider {
    width: var(--preview-sider-width);
    padding: 0 0 16px 0;

    .ant-tree {
      padding-top: 33px;
      .custom-node-title {
        img {
          margin-left: 15px;
          width: 16px;
          height: 17px;
        }
      }
      .ant-tree-treenode-selected {
        .ant-tree-indent-unit:nth-last-of-type(1)::after {
          content: "";
          width: 2px;
          height: 24px;
          background: #000000;
          display: block;
          position: absolute;
          inset-inline-end: 11px;
          top: 4px;
          bottom: 4px;
        }
      }
      &.ant-tree-show-line .ant-tree-indent-unit:before {
        inset-inline-end: 12px;
        bottom: -4px;
        top: -4px;
        display: inline;
      }

      .ant-tree-treenode {
        color: rgba($color: #171717, $alpha: 0.9);
        padding: 2px 25px 2px 29px;
      }

      .ant-tree-indent-unit {
        width: 16px;
      }
    }

    .generate-desc {
      font-size: 14px;
      margin-top: 15px;
    }
  }

  .preview-content-wrap {
    .article {
      width: 100%;
      padding-right: 40px;
      padding-left: 40px;
    }

    .article-breadcrumb {
      margin: 40px 0 42px;
    }

    .article-anchor-right {
      display: none;
    }

    .article-anchor-top {
      display: flex;
      flex-direction: column;
      background: #f9f9f9;
      margin-bottom: 24px;

      .ant-anchor-link-title {
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }

    .top-anchor-divide {
      width: 100%;
      background: #eeeeee;
      height: 0;
      transition: height 0.3s ease-out;

      &.expand {
        // height: 1px;
        transition: height 0.3s ease-in;
      }
    }
    .drop-anchor {
      .ant-anchor {
        padding: 6px 22px;
      }
      &.expand {
        border-top: 1px solid #eeeeee;
      }
    }

    .drop-expand {
      padding: 0 18px 0 22px;
      height: 32px;
      justify-content: space-between;
      font-size: 13px;
      line-height: 16px;

      .left-icon {
        img {
          width: 14px;
          height: 14px;
          margin-right: 8px;
        }
      }

      .right-icon {
        font-size: 16px;
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  :root {
    --preview-sider-width: 0px;
  }
  .preview-main {
    position: relative;
  }

  .preview-header {
    .logo {
      .title {
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
      }
    }
  }

  .preview-sider {
    display: none;
  }

  .mobile-tree-container {
    display: flex;
    z-index: 1001;
    position: fixed;

    .ant-drawer-content-wrapper {
      width: 320px !important;
    }

    .ant-drawer-header {
      display: none;
    }

    .ant-drawer-body {
      padding: 0 0 16px 0;
      display: flex;
      flex-direction: column;
    }

    .ant-tree {
      padding-top: 33px;
      background: #ffffff;

      .custom-node-title {
        img {
          margin-left: 15px;
          width: 16px;
          height: 17px;
        }
      }
      .ant-tree-treenode-selected {
        .ant-tree-indent-unit:nth-last-of-type(1)::after {
          content: "";
          width: 2px;
          height: 24px;
          background: #000000;
          display: block;
          position: absolute;
          inset-inline-end: 11px;
          top: 4px;
          bottom: 4px;
        }
      }
      &.ant-tree-show-line .ant-tree-indent-unit:before {
        inset-inline-end: 12px;
        bottom: -4px;
        top: -4px;
        display: inline;
      }

      .ant-tree-treenode {
        color: rgba($color: #171717, $alpha: 0.9);
        padding: 2px 25px 2px 29px;
      }

      .ant-tree-indent-unit {
        width: 16px;
      }
    }

    .generate-desc {
      font-size: 14px;
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(102, 102, 102, 0.5);
      img {
        margin-left: 5px;
        width: 66px;
        height: 18px;
      }
    }
  }

  .preview-content-wrap {
    .article {
      padding-right: 20px;
      padding-left: 20px;
    }

    .article-breadcrumb {
      margin: 40px 0;

      .drawer-switch {
        display: flex;
        margin-right: 10px;
        margin-top: 5px;
        img {
          width: 16px;
          height: 12px;
        }
      }
    }

    .article-anchor-top {
      margin-bottom: 24px;

      .ant-anchor-link-title {
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 4px;
      }
    }

    .drop-anchor {
      .ant-anchor {
        padding: 6px 22px;
      }
    }

    .drop-expand {
      padding: 0 13px 0 21px;
      height: 32px;
      font-size: 13px;
      line-height: 16px;

      .left-icon {
        img {
          width: 14px;
          height: 14px;
          margin-right: 6px;
        }
      }

      .right-icon {
        font-size: 16px;
        transition: transform 0.3s ease-in;

        &.expand {
          transform: rotate(-180deg);
          transition: transform 0.3s ease-in;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .preview-header {
    .logo {
      .title {
        margin-left: 13px;
      }
    }
  }

  .article-breadcrumb {
    margin-top: 30px;

    .drawer-switch {
      margin-left: 3px;
      margin-right: 9px;
    }
  }
}
