// Outer Layout
.preview-content-wrap:has(.theme-api-markdown) {
    .article-anchor-right {
        display: none !important;
    }
    .article-breadcrumb {
        padding: 0 32px 0 24px;
    }
    .middle__show {
        display: none !important;
    }
}
.openapi-left-panel__container {
    border-right: none;
}
@media screen and (min-width: 1281px) {
    .preview-content-wrap:has(.theme-api-markdown) {
        overflow: hidden;
        .article {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .openapi-left-panel__container {
        width: 60.28%;
        padding: 0 32px 0 24px;
    }
    .openapi-right-panel__container {
        width: 39.72%;
        padding: 0 1px 0 24px;
    }
}
@media screen and (max-width: 1280px) {
    .openapi-left-panel__container {
        width: 100%;
        padding: 0 32px 0 24px;
    }
    .openapi-right-panel__container {
        width: 100%;
        padding: 0 32px 0 24px;
    }
}
.theme-api-markdown details[data-collapsed="false"] > summary {
    &:before {
        transform: translateY(-50%) rotate(90deg) !important;
    }
}
.theme-api-markdown details[open] > summary {
    &:before {
        transform: translateY(-50%) rotate(180deg) !important;
    }
}

// Yaml info page
.openapi-tabs__schema-list-container.tabs.openapi-tabs__security-schemes {
    padding-inline-start: 0;
    display: flex;
    margin: 0;
    .openapi-tabs__schema-item {
        &::before {
            display: none !important;
        }
    }
}
// OpenAPI doc
pre {
    background-color: initial;
    border-radius: initial;
    color: initial;
    font: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
}
.theme-api-markdown {
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    ul {
        margin: 0;
        & > li::before {
            display: none;
        }
    }
}
// Request PARAMETERS
.openapi-left-panel__container {
    & > .openapi-markdown__details {
        margin-bottom: 0 !important;
        &[open] {
            margin-bottom: 20px !important;
        }
    }
}
.openapi-markdown__details {
    .openapi-schema__container {
        strong {
            height: 24px;
            font-family: Roboto Mono;
            font-size: 16px;
            line-height: 24px;
            margin-right: 10px;
        }
        .openapi-schema__property {
            margin-top: 0;
        }
    }
}
// Request Body
.openapi-schema__divider {
    display: none;
}
.openapi-discriminator__item {
    & > div {
        line-height: 23px;
        & > div > strong {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            color: #515869;
            margin-right: 8px;
        }
    }
}
.openapi-left-panel__container {
    .openapi-schema__list-item {
        div {
            p {
                margin: 0;
                font-family: Inter-Medium;
                font-weight: 500;
                font-size: 14px;
                color: #515869;
                line-height: 23px;
                strong {
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 400;
                    color: #515869;
                    margin-right: 8px;
                }
                code {
                    font-size: 12px;
                    background: #f4f4fa;
                    border-radius: 4px;
                    border: 1px solid #e1e2ea;
                    padding: 3px 6px;
                }
            }
        }
        & > .openapi-markdown__details {
            & > summary {
                display: flex;
                align-items: center;
                & + div {
                    & > div {
                        font-family: Inter;
                        font-weight: 500;
                        font-size: 14px;
                        color: #515869;
                        line-height: 23px;
                        & > strong {
                            font-family: Inter;
                            font-size: 14px;
                            font-weight: 400;
                            color: #515869;
                            margin-right: 8px;
                        }
                    }
                }
                & > strong {
                    font-family: Roboto Mono;
                    font-size: 16px;
                    margin-right: 10px;
                    color: #1abd00;
                    & + span {
                        background: rgba(81, 88, 105, 0.07);
                        border-radius: 4px;
                        margin-right: 5px;
                        font-family: Roboto Mono;
                        font-weight: 400;
                        font-size: 12px;
                        height: 19px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1px 4px 0;
                    }
                }
            }
        }
    }
    .openapi-markdown__details:last-of-type::after {
        display: none;
    }
}
.openapi-markdown__details {
    .openapi-schema__list-item {
        .openapi-schema__list-item {
            &::after {
                display: none !important;
            }
            &::before {
                top: 4px;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        .openapi-markdown__details {
            summary {
                padding: 0 0 0 16px;
            }
        }
    }
}

// Tabs
ul.tabs {
    li.openapi-tabs__operation-item {
        border: 1px solid transparent !important;
        margin-bottom: 0;
        margin-right: 0.5rem;
        font-family: Inter-SemiBold;
        font-weight: normal;
        font-size: 12px;
        color: rgba(81, 88, 105, 0.8);
        padding: 0.4rem 0.7rem;
        line-height: normal;
        transition: 0.3s;
        cursor: pointer;
        border-radius: var(--ifm-global-radius);
        &:hover {
            border: 1px solid var(--ifm-toc-border-color) !important;
            background-color: transparent;
        }
        &.active {
            color: #1abd00;
            border-color: #1abd00 !important;
        }
    }
}
// Response samples
.openapi-code__response-samples-container {
    background-color: #171717;
    border-radius: 6px;
}
// Response
.openapi-tabs__response-container {
    padding-left: 0;
}
.openapi-tabs__response-list-container {
    padding: 0;
}
// Common
ul.export-dropdown.dropdown__menu {
    margin: 0;
    padding-inline-start: 0.5rem;
    li {
        margin: 0;
        &::before {
            display: none;
        }
        a {
            border-bottom: none;
        }
    }
}
.dropdown--hoverable:hover .dropdown__menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
}
