// Outer Layout
.preview-content-wrap:has(.theme-api-markdown) {
    .article-anchor-right {
        display: none !important;
    }
    .article-breadcrumb {
        padding: 0 32px 0 24px;
    }
    .middle__show {
        display: none !important;
    }
}
.openapi-left-panel__container {
    border-right: none;
}
@media screen and (min-width: 1281px) {
    .preview-content-wrap:has(.theme-api-markdown) {
        .article {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .openapi-left-panel__container {
        width: 53%;
        padding: 0 32px 0 24px;
    }
    .openapi-right-panel__container {
        width: 47%;
        padding: 0 1px 0 24px;
    }
}
@media screen and (max-width: 1280px) {
    .openapi-left-panel__container {
        width: 100%;
        padding: 0 32px 0 24px;
    }
    .openapi-right-panel__container {
        width: 100%;
        padding: 0 32px 0 24px;
    }
}
.theme-api-markdown details[data-collapsed="false"] > summary {
    &:before {
        transform: translateY(-50%) rotate(90deg) !important;
    }
}
.theme-api-markdown details[open] > summary {
    &:before {
        transform: translateY(-50%) rotate(180deg) !important;
    }
}

// Yaml info page
.openapi-tabs__schema-list-container.tabs.openapi-tabs__security-schemes {
    padding-inline-start: 0;
    display: flex;
    margin: 0;
}
// OpenAPI doc
pre {
    background-color: initial;
    border-radius: initial;
    color: initial;
    font: initial;
    margin: initial;
    overflow: initial;
    padding: initial;
}
.theme-api-markdown {
    display: flex;
    flex-wrap: wrap;
    line-height: normal;
    ul {
        margin: 0;
        & > li::before {
            display: none;
        }
    }
}
// Badge
.theme-api-markdown .badge {
    font-family: Inter;
    background-color: #1abd00;
    border-radius: 4px 4px 4px 4px;
    padding: 6px 5px 3px 5px;
    font-weight: normal;
    font-size: 12px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    border: none;
    &.badge--success {
        background-color: #0989ff;
    }
    &.badge--danger {
        background-color: #f64841;
    }
    &.badge--primary {
        background-color: #1abd00;
    }
    &.badge--info {
        background-color: #08b6ed;
    }
    &.badge--warning {
        background-color: #fb7e38;
    }
    &.badge--secondary {
        background-color: rgb(235, 237, 240);
        color: #171717;
    }
}
// Request PARAMETERS
.openapi-left-panel__container {
    & > .openapi-markdown__details {
        margin-bottom: 0 !important;
        &[open] {
            margin-bottom: 20px !important;
        }
    }
}
.openapi-markdown__details {
    .openapi-schema__container {
        strong {
            height: 24px;
            font-family: Roboto Mono;
            font-size: 16px;
            line-height: 24px;
            margin-right: 10px;
        }
        .openapi-schema__type {
            background: rgba(81, 88, 105, 0.07);
            border-radius: 4px;
            margin-right: 5px;
            font-family: Roboto Mono;
            font-weight: 400;
            font-size: 12px;
            height: 19px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px 4px 0;
        }
        .openapi-schema__property {
            margin-top: 0;
        }
    }
}
// Request Body
.openapi-schema__name {
    background: rgba(81, 88, 105, 0.07);
    border-radius: 4px;
    margin-right: 5px;
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 12px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 4px 0;
}
.openapi-schema__divider {
    display: none;
}
.openapi-discriminator__item {
    & > div {
        line-height: 23px;
        & > div > strong {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            color: #515869;
            margin-right: 8px;
        }
    }
}
.openapi-left-panel__container {
    & > .tabs-container {
        .openapi-schema__list-item {
            div {
                p {
                    margin: 0;
                    font-family: Inter;
                    font-weight: 500;
                    font-size: 14px;
                    color: #515869;
                    line-height: 23px;
                    strong {
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 400;
                        color: #515869;
                        margin-right: 8px;
                    }
                    code {
                        font-size: 12px;
                        background: #f4f4fa;
                        border-radius: 4px;
                        border: 1px solid #e1e2ea;
                        padding: 3px 6px;
                    }
                }
            }
            & > .openapi-markdown__details {
                & > summary {
                    display: flex;
                    align-items: center;
                    & + div {
                        & > div {
                            font-family: Inter;
                            font-weight: 500;
                            font-size: 14px;
                            color: #515869;
                            line-height: 23px;
                            & > strong {
                                font-family: Inter;
                                font-size: 14px;
                                font-weight: 400;
                                color: #515869;
                                margin-right: 8px;
                            }
                        }
                    }
                    & > strong {
                        font-family: Roboto Mono;
                        font-size: 16px;
                        margin-right: 10px;
                        color: #1abd00;
                        & + span {
                            background: rgba(81, 88, 105, 0.07);
                            border-radius: 4px;
                            margin-right: 5px;
                            font-family: Roboto Mono;
                            font-weight: 400;
                            font-size: 12px;
                            height: 19px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1px 4px 0;
                        }
                    }
                }
            }
        }
        .openapi-markdown__details:last-of-type::after {
            display: none;
        }
    }
}
.openapi-markdown__details {
    .openapi-schema__list-item {
        .openapi-schema__list-item {
            &::after {
                display: none !important;
            }
            &::before {
                top: 4px;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        .openapi-markdown__details {
            summary {
                padding: 0 0 0 1rem;
            }
        }
    }
}

// Tabs
ul.tabs {
    li.openapi-tabs__mime-item,
    li.openapi-tabs__schema-item,
    li.openapi-tabs__operation-item,
    li.openapi-tabs__discriminator-item {
        border: 1px solid transparent !important;
        margin-bottom: 0;
        margin-right: 0.5rem;
        font-family: Inter-SemiBold;
        font-weight: normal;
        font-size: 12px;
        color: rgba(81, 88, 105, 0.8);
        padding: 0.4rem 0.7rem;
        line-height: normal;
        transition: 0.3s;
        cursor: pointer;
        border-radius: var(--ifm-global-radius);
        &:hover {
            border: 1px solid var(--ifm-toc-border-color) !important;
            background-color: transparent;
        }
        &.active {
            color: #1abd00;
            border-color: #1abd00 !important;
        }
    }
    li.openapi-tabs__discriminator-item {
        transition: 0.3s;
        margin-right: 1rem;
    }
}
// Response samples
.openapi-code__response-samples-container {
    background-color: #171717;
    border-radius: 6px;
}
// Response
.theme-api-markdown .openapi-tabs__response-code-item {
    font-size: 12px;
    margin-bottom: 0;
    margin-right: 0.5rem;
    transition: 0.3s;
    font-family: Inter-Bold;
    border-radius: 4px;
    border: 1px solid rgba(229, 231, 235, 0.5);
    height: 32px;
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    &.success.active {
        border-color: #1abd00;
        background-color: #1abd00;
        color: #fff;
    }
    &.danger.active {
        border-color: #f64841;
        background-color: #f64841;
        color: #fff;
    }
}
.openapi-tabs__response-container {
    padding-left: 0;
}
.openapi-tabs__response-list-container {
    padding: 0;
}
// Common
ul.tabs {
    li.tabs__item.openapi-tabs__schema-item::before {
        display: none;
    }
}
ul.export-dropdown.dropdown__menu {
    margin: 0;
    padding-inline-start: 0.5rem;
    li {
        margin: 0;
        &::before {
            display: none;
        }
        a {
            border-bottom: none;
        }
    }
}
.dropdown--hoverable:hover .dropdown__menu {
    opacity: 1;
    pointer-events: all;
    transform: translateY(-1px);
    visibility: visible;
}
