html {
  --docuo-color-primary: #171717;
  --docuo-color-primary-hover: #0055ff;
  --docuo-color-primary-active: #0055ff;
  --docuo-background-primary: #fff;
  --docuo-header-bg: #fff;
  --docuo-header-bg-opacity: rgba(255, 255, 255, 0.6);
  --docuo-header-border: 1px solid rgba(229, 231, 235, 0.8);
  --docuo-header-menu-link-color: #171717;
  --docuo-header-menu-divider-color: rgba(229, 231, 235, 0.8);
  --docuo-theme-btn-color: rgba(0, 0, 0, 0.7);
  --docuo-theme-btn-color-hover: rgba(0, 0, 0, 1);
  --docuo-theme-btn-border: 1px solid rgba(229, 231, 235, 0.6);
  --docuo-theme-btn-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.07);
  --docuo-popup-color: #171717;
  --docuo-popup-bg: #fff;
  --docuo-popup-border: 1px solid rgba(229, 231, 235, 0.6);
  --docuo-popup-bg-hover: rgba(229, 231, 235, 0.25);
  --docuo-m-popup-box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.05);

  --docuo-anchor-color: rgba(81, 88, 105, 0.8);
  --docuo-anchor-border-color: rgba(229, 231, 235, 0.8);
  --docuo-anchor-top-btn-color: #515869;
  --docuo-anchor-top-btn-border: 1px solid rgba(221, 227, 235, 0.6);
  --docuo-anchor-top-btn-bg: #ffffff;

  --docuo-dropdown-label-bg: #fafafb;
  --docuo-dropdown-label-bg-hover: #f6f6f8;
  --docuo-dropdown-label-border: 1px solid #f2f3f5;
  --docuo-dropdown-icon-color: #666666;

  --docuo-sidebar-color: rgba(81, 88, 105, 0.9);
  --docuo-sidebar-border-color: rgba(229, 231, 235, 0.8);

  --docuo-footer-bg: rgba(229, 231, 235, 0.25);
  --docuo-footer-caption-color: rgba(81, 88, 105, 0.7);
  --docuo-footer-link-color: rgba(53, 60, 78, 0.7);
  --docuo-footer-link-color-hover: #0055ff;
  --docuo-footer-copyright-color: rgba(53, 60, 78, 0.4);
  --docuo-footer-copyright-border: 1px solid #e5e7eb;

  --docuo-breadcrumb-color: rgba(81, 88, 105, 0.8);
  --docuo-breadcrumb-icon-color: rgba(81, 88, 105, 0.5);

  --docuo-theme-popover-color: #515869;
  --docuo-theme-popover-bg: #fff;

  --docuo-m-dropdown-divider-color: #eeeeee;
  --docuo-m-dropdown-sub-color: rgba(81, 88, 105, 0.9);
  --docuo-m-drawer-btn-color: rgba(81, 88, 105, 0.8);
  --docuo-m-drawer-btn-bg: #fff;
  --docuo-m-drawer-btn-border: 1px solid rgba(229, 231, 235, 0.8);
  --docuo-m-drawer-mask-bg: rgba(0, 0, 0, 0.45);
  --docuo-m-drawer-close-color: rgba(81, 88, 105, 0.8);
  --docuo-m-toc-btn-icon-color: #8f939d;

  // text color
  --docuo-text-color: #353c4e;
  // inline code
  --docuo-inline-code-bg: #f4f4fa;
  --docuo-inline-code-border: 1px solid #e1e2ea;
  // blockquote
  --docuo-blockquote-bg: #f9fafb;
  --docuo-blockquote-border: 1px solid rgba(202, 208, 217, 0.4);
  --docuo-blockquote-border-l: 4px solid #e3e8ef;
  --docuo-blockquote-icon: url("~/assets/icons/editor/blockquote.svg");
  // table
  --docuo-table-border: 1px solid rgba(229, 231, 235, 0.8);
  --docuo-table-th-bg: rgba(229, 231, 235, 0.25);
  // hr
  --docuo-hr-color: rgba(229, 231, 235, 0.8);
  // ul, ol
  --docuo-ul-dot-color: #c5c9d0;
  --docuo-ol-number-color: #b1b4b8;
  // code group
  --docuo-code-group-active: #266eff;
  // Card
  --docuo-card-bg: rgba(255, 255, 255, 0.5);
  --docuo-card-border-color: rgb(238, 242, 241);
  --docuo-card-border-color-hover: #0055ff;
  --docuo-card-content-color: rgb(80, 84, 83);
  --docuo-card-icon-color: rgb(37, 41, 40);
  --docuo-card-shadow: rgba(206, 210, 209, 0.1) 0px 4px 6px -1px, rgba(206, 210, 209, 0.1) 0px 2px 4px -2px;

  // Language
  --docuo-language-btn-color: #979ba5;
  --docuo-language-btn-color-hover: #747987;

  // Pager
  --docuo-pager-bg-hover: rgba(229, 231, 235, 0.3);
  --docuo-pager-arrow-color: #353c4e;
  --docuo-pager-title-color: #515869;
  --docuo-pager-desc-color: #171717;
}

html[data-theme="dark"] {
  --docuo-color-primary: #f0f0f0;
  --docuo-color-primary-hover: #266eff;
  --docuo-color-primary-active: #266eff;
  --docuo-background-primary: #0d0d0d;
  --docuo-header-bg: rgba(13, 13, 13, 1);
  --docuo-header-bg-opacity: rgba(13, 13, 13, 0.4);
  --docuo-header-border: 1px solid #252525;
  --docuo-header-menu-link-color: #e7e7e7;
  --docuo-header-menu-divider-color: rgba(255, 255, 255, 0.15);
  --docuo-theme-btn-color: rgba(255, 255, 255, 0.7);
  --docuo-theme-btn-color-hover: rgba(255, 255, 255, 1);
  --docuo-theme-btn-border: 1px solid #333333;
  --docuo-theme-btn-shadow: 0px 1px 8px 0px rgba(255, 255, 255, 0.07);
  --docuo-popup-color: rgba(231, 231, 231, 0.9);
  --docuo-popup-bg: #191919;
  --docuo-popup-border: 1px solid #333333;
  --docuo-popup-bg-hover: #252525;
  --docuo-m-popup-box-shadow: none;

  --docuo-anchor-color: #868686;
  --docuo-anchor-border-color: #252525;
  --docuo-anchor-top-btn-color: #f0f0f0;
  --docuo-anchor-top-btn-border: 1px solid #333333;
  --docuo-anchor-top-btn-bg: #191919;

  --docuo-dropdown-label-bg: #191919;
  --docuo-dropdown-label-bg-hover: #252525;
  --docuo-dropdown-label-border: 1px solid #404040;
  --docuo-dropdown-icon-color: #909090;

  --docuo-sidebar-color: rgba(144, 144, 144, 0.9);
  --docuo-sidebar-border-color: #252525;

  --docuo-footer-bg: #161616;
  --docuo-footer-caption-color: rgba(182, 182, 182, 0.7);
  --docuo-footer-link-color: rgba(182, 182, 182, 0.7);
  --docuo-footer-link-color-hover: #f0f0f0;
  --docuo-footer-copyright-color: rgba(182, 182, 182, 0.6);
  --docuo-footer-copyright-border: 1px solid #3c3c3c;

  --docuo-breadcrumb-color: #909090;
  --docuo-breadcrumb-icon-color: #909090;

  --docuo-theme-popover-color: #e7e7e7;
  --docuo-theme-popover-bg: #191919;

  --docuo-m-dropdown-divider-color: #252525;
  --docuo-m-dropdown-sub-color: #b6b6b6;
  --docuo-m-drawer-btn-color: #f0f0f0;
  --docuo-m-drawer-btn-bg: #191919;
  --docuo-m-drawer-btn-border: 1px solid #333333;
  --docuo-m-drawer-mask-bg: rgba(255, 255, 255, 0.25);
  --docuo-m-drawer-close-color: #909090;
  --docuo-m-toc-btn-icon-color: rgba(144, 144, 144, 0.64);

  // text color
  --docuo-text-color: #b6b6b6;
  // inline code
  --docuo-inline-code-bg: #2c2c2c;
  --docuo-inline-code-border: 1px solid #3a3a3a;
  // blockquote
  --docuo-blockquote-bg: #161616;
  --docuo-blockquote-border: 1px solid #252525;
  --docuo-blockquote-border-l: 4px solid #2d2d2d;
  --docuo-blockquote-icon: url("~/assets/icons/editor/blockquote_dark.svg");
  // table
  --docuo-table-border: 1px solid #252525;
  --docuo-table-th-bg: #161616;
  // hr
  --docuo-hr-color: #252525;
  // ul, ol
  --docuo-ul-dot-color: #565656;
  --docuo-ol-number-color: #565656;
  // code group
  --docuo-code-group-active: #266eff;
  // Card
  --docuo-card-bg: #161616;
  --docuo-card-border-color: rgba(37, 41, 40, 0.5);
  --docuo-card-border-color-hover: #266eff;
  --docuo-card-content-color: rgb(158, 163, 162);
  --docuo-card-icon-color: rgb(238, 242, 241);
  --docuo-card-shadow: none;

  // Language
  --docuo-language-btn-color: #a6a6a6;
  --docuo-language-btn-color-hover: #e9e9e9;

  // Pager
  --docuo-pager-bg-hover: rgba(229, 231, 235, 0.3);
  --docuo-pager-arrow-color: #b6b6b6;
  --docuo-pager-title-color: #b6b6b6;
  --docuo-pager-desc-color: #fff;
}
