.openapi-explorer__server-container {
  margin-bottom: 10px;
  margin-top: 0;
  overflow: auto;

  /* hack for view calculation when monaco is hidden */
  position: relative;

  &:empty {
    display: none;
  }

  // .openapi-explorer__form-item {
  //   padding-right: 70px;
  // }
  .ant-select {
    width: 100% !important;
    .ant-select-selection-item {
      text-align: initial;
    }
    .ant-select-selector {
      font-size: inherit;
    }
  }
}

.openapi-explorer__server-url {
  padding-right: 70px;
  display: flex;
  font-family: RobotoMono-Regular;
  font-weight: 400;
  font-size: 14px;
  color: #f0f0f0;
  line-height: 20px;
  align-items: center;
  min-height: 400px;
}

.openapi-explorer__server-description {
  padding-left: 0.5rem;
  font-weight: var(--ifm-font-weight-bold);
  display: none;
}
